@media screen and (min-width:480px){}

.container-fluid {
    padding-top: 10px;
    padding-left:120px;
    padding-right: 32px;
  }

.card-header{

    background-color: #134E69D9;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;

}
#heading{
    color: #F6FBFD;
    padding-top: 8px;
}

.card-body {
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
}

#thead {
    background: var(--side-text, #ECF7FC);
}

#tablehead{
    background: var(--side-text, #ECF7FC);
}
