html{
  -webkit-text-size-adjust: 100%;
}
  .container-fluid{
    /* margin-left: 150px;
    margin-top: 60px; */
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card{
      width: 45%;
      border-radius: 3px;
      background-color: #ecf7fc;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
      height: 374px;
      margin-left: 30%;
      margin-top: 5%;
  }

  .container{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  }

  .title{
    font-size: 30px;
    margin-bottom: 35px;
    font-weight: 600;
  }

  #passwordHeading {
    color: var(--primary-text, #202224);
    /* Display Medium */
    font-family: sans-serif;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  
  }
  .group {
    position: relative;
  }
  
  .group>label {
    padding: 0 0.2em;
    position: absolute;
    top: -0.7em;
    left: 1.5em;
    background-color: #ecf7fc;
  }
  
  .group>input {
    padding: 0.8em;
    border-radius: 0.5em;
    border: 2px solid lightblue;
    outline: none;
  }

  #oldPassword {
    height: 40px;
    align-self: stretch;
    border-color: #2AA3D9;
    display: inline-block;
    width:380px;
    background-color: #ecf7fc;
    margin-bottom: 5px;
  }

  #newPassword {
    height: 40px;
    align-self: stretch;
    border-color: #2AA3D9;
    display: inline-block;
    width:380px;
    background-color: #ecf7fc;
  }
  
  #confirmPassword {
    height: 40px;
    align-self: stretch;
    border-color: #2AA3D9;
    display: inline-block;
    width:380px;
    background-color: #ecf7fc;
  }

   #verifyPassword{
    justify-content: start;
    text-align: start;
  } 
  
  #eyeIcon{
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    padding-right: 13px;
  }
  
  input::-ms-reveal {
    display: none;
  }
  
  /* Popup container - can be anything you want */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 398px;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top:109%;
    left: 20%;
    margin: -80;
    backdrop-filter: blur(14px); 
    background-color:rgba(0, 0, 0, 0.3)
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    /* rotate: -180deg; */
    content: " ";
    position: absolute;
    top: -2.5%;
    left: 50%;
    margin-left: -197.7px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  #popupDiv{
    margin-left:103%;
    margin-top: -35px;
  }

#oldPasswordEye{
  margin-top: -3px;
  cursor: pointer;
}

#newPasswordEye{
  margin-top: -4px;
  cursor: pointer;
}

#confirmPasswordEye{
  cursor: pointer;
}
