<div>
    <app-side-menubar></app-side-menubar>
</div>
<div>
    <app-header [title]="title"></app-header>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="container d-flex flex-row justify-content-center">
            <div>
                <h1 class="title">Password Update</h1>
                <div id="oldPasswordDiv">
                    <label id="oldPasswordLabel">Old Password</label>
                    <input type="password" id="oldPassword" name="oldPassword"   [(ngModel)]="oldPassword"
                    placeholder="Old Password" class="form-control"  (click)="setupOldPasswordInputPlaceholder()"
                    minlength="8" maxlength="16" oncopy="return false" onpaste="return false" oncut="return false" />
                    <span id="eyeIcon">
                        <i class="fa fa-eye-slash"  id="oldPasswordEye" (click)="showOldPasswordEyeIcon()"></i>
                    </span>
                </div>    
                <br/>
                <div id="nPasswordDiv">
                    <label id="nPasswordLabel">New Password</label>
                        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword"
                            placeholder="New Password" class="form-control"
                            (click)="setupNewPasswordInputPlaceholder()" (keyup)="setNewPassword($event)"
                            minlength="8" maxlength="16" oncopy="return false" onpaste="return false"
                            oncut="return false" />
                        <span id="eyeIcon">
                            <i class="fa fa-eye-slash"  id="newPasswordEye" (click)="showNewPasswordEyeIcon()"></i>
                        </span>    
                    <div id="popupDiv">
                        <p class="popup" (mouseover)="getPOPUPMessage()" (mouseout)="getPOPUPMessage()">
                        <svg width="23" height="23" viewBox="0 0 48 48" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_962_516)">
                            <path
                                d="M22 34H26V22H22V34ZM24 4C12.95 4 4 12.95 4 24C4 35.05 12.95 44 24 44C35.05 44 44 35.05 44 24C44 12.95 35.05 4 24 4ZM24 40C15.18 40 8 32.82 8 24C8 15.18 15.18 8 24 8C32.82 8 40 15.18 40 24C40 32.82 32.82 40 24 40ZM22 18H26V14H22V18Z"
                                fill="black" />
                            </g>
                            <defs>
                            <clipPath id="clip0_962_516">
                                <rect width="48" height="48" fill="white" />
                            </clipPath>
                            </defs>
                        </svg>
                        <span class="popuptext" id="myPopup">
                            <li style="padding-left: 10px;">Should have a minimum of 8 characters</li>
                            <li style="padding-left: 10px;">Should contain at least 1 uppercase letter
                            </li>
                            <li style="padding-left: 10px;">Should contain at least 1 lowercase letter</li>
                            <li style="padding-left: 10px;">Should contain at least 1 special character
                            </li>
                            <li style="padding-left: 10px;">Should contain at least 1 number
                            </li>
                            <li style="padding-left: 10px;">Should not start or end with a blank space
                            </li>
                        </span>
                        </p>
                    </div>  
                </div>  
                <div  id="verifyPassword" style="font-size: 12px;"
                    [ngStyle]="{'color': result_value ? 'green':'red'}">
                    {{passwordCriteria}}
                </div>
                <br/>
            
                <div id="passwordDiv">
                    <label id="passwordLabel">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword"
                        [(ngModel)]="confirmPassword" placeholder="Confirm Password" class="form-control"
                        (click)="setupConfirmPasswordInputPlaceholder()" (keyup)="setConfirmPassword($event)"
                        minlength="8" maxlength="16" oncopy="return false" onpaste="return false"
                        oncut="return false" />
                    <span id="eyeIcon">
                        <i class="fa fa-eye-slash" id="confirmPasswordEye" (click)="showConfirmPasswordEyeIcon()"></i>
                    </span>
                </div>
                    <div id="verifyPassword" style="font-size: 12px;padding-top: 7px;" [ngStyle]="{'color': isUpdate ? 'red':''}">
                            {{verificationResponse}}
                    </div>   
                <div style="padding-top: 14px;">
                    <button class="btn btn-primary" style="width: 200px;" [disabled]="isUpdate"
                        (click)="checkPassword()">Update</button>
                </div>
            </div>    
        </div> 
    </div>
</div>          