/* Reset some default styles */
body, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: var(--side-text, #ECF7FC);
  color: white;
  padding: 10px 20px;
}

.overview {
  color: var(--gray-800, #242D35);
font-size: 28px;
font-style: normal;
font-weight: 500;
}

.icon {
  display: flex;
  padding-right: 30px;
}

.icon i {
  font-size: 30px; 
  margin-right: 10px;
  cursor: pointer;
  color: lightblue;
  padding: 8px; 
}
