<div>
    <app-side-menubar></app-side-menubar>
</div>
<div>
    <app-header [title]="title"></app-header>
</div>
<div class="container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-3">
                <h2 id="heading">Users</h2>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2" style="padding-top: 9px; ">
                <input type="search" class="form-control" placeholder="Search user " />
            </div>
            <div class="col-sm-2" style="padding-top: 8px;"><button id="add_button" type="btn btn-primary">Add
                    User</button></div>
            <div class="col-sm-1" style="padding-top: 8px;"><button id="delete_button"
                    type="btn btn-primary">Delete</button></div>
        </div>
    </div>
    <div class="card-body"></div>
</div>