
/*common properties*/

.container-fluid{
  padding-top: 10px;
  padding-left:120px;
  padding-right: 32px;
}

.card-header{

  background-color: #134E69D9;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 10px;

}
#heading{
  color: #F6FBFD;
  padding-top: 8px;
}

.card-body {
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
}

#thead {
  background: var(--side-text, #ECF7FC);
}

#tablehead{
  background: var(--side-text, #ECF7FC);
}

.input-border{
  border-radius: 8px;
  border: 1px solid var(--brand-color-1, #2AA3D9);
}

.modal{
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
}

#filter {
  padding-top: 10px;
  color: #F6FBFD;
  cursor: pointer;
  font-weight: bold;
  padding-left: 60px;
}

#trashIcon{
  cursor: pointer;
}

.edit-icon{
  cursor: pointer;
}

table th{
  background: var(--side-text, #ECF7FC);
  font-size: 11px;
}

td{
  font-size: 11px;
}

#updateHeading{
  color: #2AA3D9;
}

#errorMessage{
  color: red;
  font-size: 12px;
}

/*common properties end*/

.input-border{
    border-radius: 8px;
    border: 1px solid var(--brand-color-1, #2AA3D9);
}

#addBtn{
    border-radius: 4px;
    background: var(--side-text, #ECF7FC);
}

#addBtnDiv{
    padding-top: 8px;
    padding-left: 15px;
    width: 150px;
}

#deleteBtn{
    border-radius: 4px;
    background: var(--side-text, #ECF7FC);
}

#deleteBtnDiv{
    padding-top: 8px;
    width: 100px;
}

#searchDiv{
    padding-top: 8px;
}

#filter {
    padding-top: 10px;
    color: #F6FBFD;
    cursor: pointer;
    font-weight: bold;
}

/*  for toggle Button*/
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 26px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* properties for modal */
  .modal{
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
}

#modalHeader{
  background-color: #134E69D9; 
  color: #ecf7fc;
}

.adduserInput,.updateUserInput{

  border: 1px solid #2AA3D9;
  height: 50px;
  width: 400px;
}
.modal-body{
  margin-left: 35px;
}

#required{
  color: red;
  padding-left: 2px;
}