<div>
    <app-side-menubar></app-side-menubar>
</div>
<div>
    <app-header [title]="title"></app-header>
</div>
<div class="container-fluid">
    <div class="card-header">        
            <div class="row">
                <div class="col-sm-3">
                    <h2 id="heading">Users</h2>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-3" id="searchDiv">
                    <input type="search" class="form-control" placeholder="Search user"/>
                </div>
                <div id="addBtnDiv" class="col-sm-2">
                    <button class="form-control" 
                       id="addBtn" type="submit" data-toggle="modal" data-target="#addUserModal">
                    Add User</button>
                </div>
                <div id="deleteBtnDiv" class="col-sm-2">
                    <button type="submit" class="form-control" id="deleteBtn" name="deleteBtn"
                     value="Delete">Delete</button>
                </div>
                <div class="col-sm-1" id="filter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
                        <path d="M11 18H13C13.55 18 14 17.55 14 17C14 16.45 13.55 16 13 16H11C10.45 16 10 16.45 10 17C10 17.55 10.45 18 11 18ZM3 7C3 7.55 3.45 8 4 8H20C20.55 8 21 7.55 21 7C21 6.45 20.55 6 20 6H4C3.45 6 3 6.45 3 7ZM7 13H17C17.55 13 18 12.55 18 12C18 11.45 17.55 11 17 11H7C6.45 11 6 11.45 6 12C6 12.55 6.45 13 7 13Z" fill="#E5EEF1"/>
                      </svg>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <table class="table table-hover" id="myTable">
                    <thead id="thead">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Mail Id</th>
                        <th>Role</th>
                        <th>User Status</th>
                        <th>Account Status</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userList; let i = index">    
                            <td>{{i+1}}</td>
                            <td></td>
                            <td>{{user.email}}</td>
                            <td>{{user.userRoles[0].roleName}}</td>
                            <td>{{user.active == true? 'Active': 'Inactive'}}</td>
                            <td>{{user.active == true? 'LoginEnabed':'LoginDisabled'}}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" id="slider{{i}}" checked (change)="checkToggleButton(user,i)">
                                    <span class="slider round"></span>
                                  </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    
</div>
</div>

<!-- Add User Modal -->
<div class="modal" tabindex="-1" id="addUserModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header" id="adduser-modal">
                <h5 class="modal-title">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                ><span aria-hidden="true">×</span></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <label><b>First Name</b></label>
                <input type="text" class="adduserInput form-control" placeholder="First Name"/><br/>
                <label><b>Last Name</b></label>
                <input type="search" class="adduserInput form-control" placeholder="Last Name"/><br/>
                <label><b>Email</b></label>
                <input type="text" class="adduserInput form-control" placeholder="Email"/><br/>
                <label><b>Role</b></label>
                <input type="text" class="adduserInput form-control" placeholder="Role"/>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" >Save</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
