
        <div class="container">
            <div id="smileyDiv">
                <img src="https://th.bing.com/th/id/OIP.kVmJqHMwv8B7jvSTL2fVRgHaHv?pid=ImgDet&rs=1" width="25%" height="25%">
            </div><br>
            <div  id="heading">
                <h2>Sorry something went wrong! Please try after sometime</h2>
            </div>&nbsp; 
            <div id="list" class="row">
                <div>
                    <h3 style="padding-left: 490px;">Reasons:</h3>
                </div><br><br>
                <ul id="ullist"style="padding-left: 500px;">
                    <li>1. Check your internet connection</li>&nbsp;&nbsp;
                    <li>2. Server may be down</li>&nbsp;&nbsp;
                    <li>3. Check the URL and try again</li>&nbsp;&nbsp;
                    <li><a routerLink="/login">Go back</a></li>
                </ul>
            </div>
        </div>
    