<div>
    <app-side-menubar></app-side-menubar>
</div>
<div>
    <app-header [title]="title" id="header"></app-header>
</div>
<div class="container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-2">
                <h2 id="heading">Meeting List</h2>
            </div>
            <div class="col-sm-2" id="organizedMeeting">
                <p id="organizedMeeting" (click)="getMeetings('OrganizedMeeting')">Organized Meeting</p>
            </div>
            <div class="col-sm-2" id="attendedMeeting">
                <p id="attendedMeeting" (click)="getMeetings('AttendedMeeting')">Attended Meeting</p>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3" style="padding-top: 8px;">
                <input type="search" class="form-control" placeholder="Search meeting title" />
            </div>
            <div class="col-sm-1" id="filter">filter</div>
        </div>
        <!-- row -->
    </div>
    <div class="card-body" *ngIf="tabOpened === 'OrganizedMeeting'">

        <div class="row">
            <table class="table table-hover">
                <thead id="thead">
                    <th>MeetingId</th>
                    <!-- <th>Id</th> -->
                    <th>Title</th>
                    <th>Organizer</th>
                    <th>StartDate/Time</th>
                    <th>EndDate/Time</th>
                    <th>Attendees</th>
                    <th>Transcript</th>
                    <th>Action Items</th>
                </thead>
                <tbody *ngFor="let meeting of meetings;let i = index">
                    <tr>
                        <td style="padding-left: 22px;">{{meeting.meetingId}}</td>
                        <!-- <td>{{meeting.id}}</td> -->
                        <td id="meeting-subject">{{meeting.subject}}</td>
                        <td>{{meeting.organizerEmailId}}</td>
                        <td>{{meeting.startDateTime}}</td>
                        <td>{{meeting.endDateTime}}</td>
                        <td style="padding-left: 45px;">{{meeting.attendees.length}}</td>
                        <td style="padding-left: 45px;">

                            <!-- transcript data Modal start -->
                            <button id="transcriptBtn" [disabled]="meeting.isTranscriptDisabled">
                                <i class="fa fa-file-audio fa-1x" data-toggle="modal" data-target="#exampleModalLong"
                                    (click)="displayTranscriptData(meeting.meetingId,meeting.subject, meeting.transcriptData)"></i>
                            </button>
                            <div>
                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Meeting Id :
                                                    {{transcriptMeetingId}} - {{meetingSubject}}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <!-- transcript modal body -- shows transcript data -->
                                            <div class="modal-body" *ngIf="transcriptsCount > 0">
                                                <div *ngFor="let eachLine of meetingTrasncriptData;let i = index">
                                                    <div>{{eachLine}}</div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <!-- close modal button -->
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <!-- transcript download button -->
                                                <a [href]="generateDownloadLink(meetingTrasncriptData)"
                                                    download="transcript.txt" class="btn btn-primary">Download</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- transcript data Modal end -->
                        </td>

                        <td style="padding-left: 12px;"><a class="showmore"
                                (click)="fetchActionItemsOfEvent(meeting.meetingId)">Show Action Items</a></td>
                    </tr>
                    <tr class="detail">
                        <td colspan="12">
                            <div>
                                <table id="myTable{{meeting.meetingId}}" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <!-- <th id="tablehead"><input type="checkbox"  disabled/></th> -->
                                            <th id="tablehead"></th>
                                            <th id="tablehead">ActionItemId</th>
                                            <th id="tablehead">Action Item</th>
                                            <th id="tablehead">Owner(suggested)</th>
                                            <th id="tablehead">Start Date</th>
                                            <th id="tablehead">Description</th>
                                            <th id="tablehead">Status</th>
                                            <th id="tablehead">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let actionItem of actionItemsOfMeeting; let i= index">
                                        <tr *ngIf="actionItem.meetingId === meeting.meetingId">
                                            <td>
                                                <b *ngIf="actionItem.actionStatus == 'Converted' else enableCheck">
                                                    <input type="checkbox" disabled="true" />
                                                </b>
                                                <ng-template #enableCheck>
                                                    <input type="checkbox" id="ac-check{{i}}" class="ac-check"
                                                        value="{{actionItem.actionItemId}}"
                                                        (change)="toggleSubmitAndDeleteButtons(meeting.meetingId,i)" />
                                                </ng-template>
                                            </td>
                                            <td>{{actionItem.actionItemId}}</td>
                                            <td>{{actionItem.actionItemTitle}}</td>
                                            <td>{{actionItem.actionItemOwner}}</td>
                                            <td>{{actionItem.startDate}}</td>
                                            <td>{{actionItem.actionItemDescription}}</td>
                                            <td>{{actionItem.actionStatus}}</td>
                                            <td *ngIf="actionItem.actionStatus==='NotConverted'">
                                                <!--<button (click)="editData(actionItem.id)"  data-toggle="modal" data-target="#myModal">edit</button>&nbsp;<button (click)="deleteData(actionItem.id)">delete</button>-->
                                                <span class="edit-icon" (click)="editActionItem(actionItem.actionItemId)"
                                                    data-toggle="modal" data-target="#myModal">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                        viewBox="0 0 20 20" fill="none">
                                                        <g id="edit">
                                                            <path id="Vector"
                                                                d="M2.5 14.3761V17.5007H5.62543L14.8475 8.28116L11.7221 5.15659L2.5 14.3761ZM17.2562 5.87316C17.5813 5.54821 17.5813 5.01911 17.2562 4.69416L15.3101 2.7486C14.9851 2.42364 14.4558 2.42364 14.1308 2.7486L12.6056 4.27339L15.731 7.39795L17.2562 5.87316Z"
                                                                fill="#5590AA" />
                                                        </g>
                                                    </svg>
                                                </span>
                                            </td>
                                            <td *ngIf="actionItem.actionStatus==='Converted'">
                                                <!--<button (click)="editData(actionItem.id)"  data-toggle="modal" data-target="#myModal">edit</button>&nbsp;<button (click)="deleteData(actionItem.id)">delete</button>-->
                                                <span class="edit-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                        viewBox="0 0 20 20" fill="none">
                                                        <g id="edit">
                                                            <path id="Vector"
                                                                d="M2.5 14.3761V17.5007H5.62543L14.8475 8.28116L11.7221 5.15659L2.5 14.3761ZM17.2562 5.87316C17.5813 5.54821 17.5813 5.01911 17.2562 4.69416L15.3101 2.7486C14.9851 2.42364 14.4558 2.42364 14.1308 2.7486L12.6056 4.27339L15.731 7.39795L17.2562 5.87316Z"
                                                                fill="#D3D3D3" />
                                                        </g>
                                                    </svg>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr style="background-color: white;">
                                            <td style="text-align: center;" colspan="7">
                                                <a data-toggle="modal" data-target="#myModal_add"
                                                    style="cursor: pointer;padding-left: 50px;">Add Action Item</a>
                                            </td>
                                            <!-- submit and delete btn -->
                                            <td id="submitAndDelete{{meeting.meetingId}}" colspan="2">
                                                <a (click)="convertActionItemToTask(meeting.meetingId)"
                                                    style="cursor: pointer;color:blue">Submit</a>
                                                <a style="padding-left: 10px;cursor: pointer;color:red"
                                                    (click)="checkCheckboxes(meeting.meetingId)">Delete</a>
                                            </td>
                                            <td id="emptycell{{meeting.meetingId}}" style="display: table-cell;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- <div id="meeting-headings"></div> -->
            <!-- <div class="col-sm-1">Id</div>
            <div class="col-sm-3">Title</div>
            <div class="col-sm-2">Organizer</div>
            <div class="col-sm-2">StartDate/Time</div>
            <div class="col-sm-2">EndDate/Time</div>
            <div class="col-sm-1">Attendees</div>
        </div>
        <div id="meeting-data" class="row" *ngFor="let meeting of meetings">
            <div class="col-sm-1">{{meeting.id}}</div>
            <div id="title" class="col-sm-2">{{meeting.subject}}</div>
            <div class="col-sm-2" id="divrow">{{meeting.organizerName}}</div>
            <div class="col-sm-2" id="divrow">{{meeting.startDateTime}}</div>
            <div class="col-sm-2" id="divrow">{{meeting.endDateTime}}</div>
            <div class="col-sm-2" id="divrow-attendee">{{meeting.attendees.length}}</div>
            <div style="padding-top: 6px;"></div>
            <hr style="width: 1340px;"/>
        </div> -->
        </div>

        <div>
            <p id="no-meetings" *ngIf="meetingCount === 0">No Meetings Organized Yet ! </p>
        </div>
        <!-- ngif -->
    </div>
    <!-- ngif -->
    <div class="card-body" *ngIf="tabOpened === 'AttendedMeeting'">
        <div class="row" *ngIf="attendedMeetingCount>0; else noMeetings">
            <table class="table table-hover" height="40">
                <thead id="thead">
                    <th>Sno</th>
                    <th>Title</th>
                    <th>Organizer</th>
                    <th>StartDate/Time</th>
                    <th>EndDate/Time</th>
                </thead>
                <tbody>
                    <tr *ngFor="let meeting of attendedMeetings; let i = index">
                        <td>{{i+1}}</td>
                        <td id="meeting-subject">{{meeting.subject}}</td>
                        <td>{{meeting.organizerName}}</td>
                        <td>{{meeting.startDateTime}}</td>
                        <td>{{meeting.endDateTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <ng-template #noMeetings>
                <table class="table table-hover">
                    <thead id="thead">
                        <th>Id</th>
                        <th>Title</th>
                        <th>Organizer</th>
                        <th>StartDate/Time</th>
                        <th>EndDate/Time</th>
                    </thead>
                </table>
                <p id="no-meetings">No Meetings Attended Yet ! </p>
            </ng-template>
        </div>
    </div>

    <!-- action item add modal -->
    <div>
        <!-- add modal -->
        <div class="modal" id="myModal_add">
            <div class="modal-dialog">
                <div class="modal-content" style="margin: 10px;margin: 70px;">
                    <!--Modal Header-->
                    <div class="modal-header">
                        <h4 class="modal-title" style="text-align: center;">Add Action Item</h4>
                    </div>
                    <br>
                    <form #form="ngForm" method="POST">
                        <label><b>ActionItem Title</b></label>
                    <input type="text" class="form-control" style="width: 400px;padding-top: 10px;"
                        [(ngModel)]="addDetails.actionItemTitle" required="true" 
                        name="actionItemTitle" minlength="5" maxlength="500" #actionItemTitle="ngModel"
                        [class.invalid]="actionItemTitle.invalid && actionItemTitle.touched" (keyup)="validateActionTitle($event)">
                    <div *ngIf="actionItemTitleErrorInfo != ''">
                        <span id="errorSpan" >{{actionItemTitleErrorInfo}}</span>
                    </div>
                    <!-- title end -->
                    <label>ActionItem Description</label>
                    <input type="text" class="form-control" style="width:400px;"
                        [(ngModel)]="addDetails.actionItemDescription" required="true"
                         name="actionItemDescription" #actionItemDescription="ngModel" minlength="10" maxlength="1000"
                         [class.invalid]="actionItemDescription.invalid && actionItemDescription.touched"
                          (keyup)="validateActionDescription($event)">
                        <div *ngIf="actionItemDescriptionErrorInfo != ''">
                            <span id="errorSpan">{{actionItemDescriptionErrorInfo}}</span>
                        </div>
                     <!-- description end -->
                    <!--<textarea style="margin:10px; width: 400px; ">{{this.updatedetails.Description}}</textarea>-->
                    <label for="priority">Priority</label>
                    <select id="priority" class="form-control" style="width: 400px;"
                        [(ngModel)]="addDetails.actionPriority" required="true" 
                        name="actionPriority" #actionPriority="ngModel"
                        [class.invalid]="actionPriority.invalid && actionPriority.touched" (click)="validateActionPriority($event)">
                        <option>select</option>
                        <option>Low</option>
                        <option>Medium</option>
                        <option>High</option>
                    </select>
                    <div *ngIf="actionItemPriorityErrorInfo != ''">
                        <span id="errorSpan">{{actionItemPriorityErrorInfo}}</span>
                    </div>
                    <!-- priority end -->
                    <label>Action Owner</label>
                    <input type="text " class="form-control" style="width:400px;"
                        [(ngModel)]="addDetails.actionItemOwner">
                    <!--<input type="text" style="width:400px;" [(ngModel)]="addDetails.actionPriority">-->
                    <label>StartDate</label>
                    <input type="datetime-local" class="form-control" style="width:400px;"
                        [(ngModel)]="addDetails.startDate" required="true" 
                        name="startDate" #startDate="ngModel"
                        [class.invalid]="startDate.invalid && startDate.touched" (change)="validateActionStartDate($event)">
                    <div *ngIf="actionItemStartDateErrorInfo != ''">
                        <span id="errorSpan">{{actionItemStartDateErrorInfo}}</span>
                    </div>
                    <label>EndDate</label>
                    <input type="datetime-local" class="form-control" style="width:400px;"
                        [(ngModel)]="addDetails.endDate" required="true"
                        name="endDate" #endDate="ngModel"
                        [class.invalid]="endDate.invalid && endDate.touched" (change)="validateActionEndDate($event)">
                        <div *ngIf="actionItemEndDateErrorInfo != ''">
                            <span id="errorSpan">{{actionItemEndDateErrorInfo}}</span>
                        </div>
                    
                    <!--footer-->
                    <div class="modal-footer" role="alert">
                        <button [disabled]="isActionItemSaveButtonDisabled" type="submit" class="btn btn-success"
                            data-dismiss="modal" (click)="saveDetails(form)">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="clearErrorMessages(form)">Cancel</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

    <!--Modal for update-->
    <div class="modal" id="myModal" style=" font-family: 'General Sans';">
        <div class="modal-dialog">
            <div class="modal-content" style="margin: 10px;">
                <!--Modal Header-->
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center;">ActionItem</h4>
                </div>
                <br>
                <!--- <label>ActionItem Title</label>
            <input type="text" style="width: 400px;" value="{{this.updatedetails.actionTitle}}">
            <label>ActionItem Description</label>
            <input type="text" style="width:400px; " value="{{this.updatedetails.description}}">-->
                <!--<textarea style="margin:10px; width: 400px; ">{{this.updatedetails.Description}}</textarea>-->
                <!-- <label>Priority</label>
            <input type="text" style="width:400px;" value="{{this.updatedetails.actionPriority}}">
            <label>StartDate</label>
            <input type="datetime-local" style="width:400px;" value="{{this.updatedetails.startDate}}">
            <label>EndDate</label>
            <input type="datetime-local" style="width:400px;" value="{{this.updatedetails.endDate}}">-->


                <label>ActionItem Title</label>
                <input type="text" style="width: 400px;" [(ngModel)]="updatedetails.actionItemTitle" required="true">
                <label>ActionItem Description</label>
                <input type="text" style="width:400px;" [(ngModel)]="updatedetails.actionItemDescription"
                    required="true">
                <!--<textarea style="margin:10px; width: 400px; ">{{this.updatedetails.Description}}</textarea>-->
                <label>Priority</label>
                <select id="priority" style="width: 400px;" [(ngModel)]="updatedetails.actionPriority" required="true">
                    <option>High</option>
                    <option>Low</option>
                    <option>Medium</option>

                </select>
                <label>Action Owner</label>
                <input type="text" style="width:400px;" [(ngModel)]="updatedetails.actionItemOwner" required="true">
                <!--- <input type="text" style="width:400px;" [(ngModel)]="updatedetails.actionPriority">-->
                <label>StartDate</label>
                <input type="datetime-local" style="width:400px;" [(ngModel)]="updatedetails.startDate" required="true">
                <label>EndDate</label>
                <input type="datetime-local" style="width:400px;" [(ngModel)]="updatedetails.endDate" required="true">

                <!--footer-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" (click)="updateActionItem($event)"
                        [(ngModel)]="updatedetails" data-dismiss="modal">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>