<div>
    <app-side-menubar></app-side-menubar>
</div>
<div>
    <app-header [title]="title" id="header"></app-header>
</div>
<div class="container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-2">
                <h2 id="heading">Meeting List</h2>
            </div>
            <div class="col-sm-2" >
                <p id="organizedMeeting" (click)="getMeetings('OrganizedMeeting')">Organized Meeting</p>
            </div>
            <div class="col-sm-2">
                <p id="attendedMeeting" (click)="getMeetings('AttendedMeeting')">Attended Meeting</p>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <input type="search" class="form-control" placeholder="Search meeting title" />
            </div>
            <div class="col-sm-1" id="searchMeetings">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
                    <path d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z" fill="#ffffff"/>
                  </svg>
            </div>
            <div class="col-sm-1" id="filter">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
                    <path d="M11 18H13C13.55 18 14 17.55 14 17C14 16.45 13.55 16 13 16H11C10.45 16 10 16.45 10 17C10 17.55 10.45 18 11 18ZM3 7C3 7.55 3.45 8 4 8H20C20.55 8 21 7.55 21 7C21 6.45 20.55 6 20 6H4C3.45 6 3 6.45 3 7ZM7 13H17C17.55 13 18 12.55 18 12C18 11.45 17.55 11 17 11H7C6.45 11 6 11.45 6 12C6 12.55 6.45 13 7 13Z" fill="#E5EEF1"/>
                  </svg>
            </div>
        </div>
        <!-- row -->
    </div>
    <div class="card-body" *ngIf="tabOpened === 'OrganizedMeeting'">

        <div class="row" >
            <table class="table table-hover">
                <thead id="thead">
                    <th>Meeting Id</th>
                    <!-- <th>Id</th> -->
                    <th style="width: 200px;">Title</th>
                    <th>Organizer</th>
                    <th>Start Date/Time</th>
                    <th>End Date/Time</th>
                    <th>Attendees</th>
                    <th>Transcript</th>
                    <th>Action Items</th>
                    <th></th>
                </thead>
                <tbody *ngFor="let meeting of meetings;let i = index">
                    <tr>
                        <td style="padding-left: 22px;">{{meeting.meetingId}}</td>
                        <!-- <td>{{meeting.id}}</td> -->
                        <td id="meeting-subject">{{meeting.subject}}</td>
                        <td>{{meeting.organizerEmailId}}</td>
                        <td>{{meeting.startDateTime}}</td>
                        <td>{{meeting.endDateTime}}</td>
                        <td style="padding-left: 45px;">{{meeting.attendees.length}}</td>
                        <td style="padding-left: 45px;">

                            <!-- transcript data Modal start -->
                            <button id="transcriptBtn" [disabled]="meeting.isTranscriptDisabled">
                                <i class="fa fa-file-audio fa-1x" data-toggle="modal" data-target="#exampleModalLong"
                                    (click)="displayTranscriptData(meeting.meetingId,meeting.subject, meeting.transcriptData)"></i>
                            </button>
                            <div>
                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Meeting Id :
                                                    {{transcriptMeetingId}} - {{meetingSubject}}</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <!-- transcript modal body -- shows transcript data -->
                                            <div class="modal-body" *ngIf="transcriptsCount > 0">
                                                <div *ngFor="let eachLine of meetingTrasncriptData;let i = index">
                                                    <div>{{eachLine}}</div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <!-- close modal button -->
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <!-- transcript download button -->
                                                <a [href]="generateDownloadLink(meetingTrasncriptData)"
                                                    download="transcript.txt" class="btn btn-primary">Download</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- transcript data Modal end -->
                        </td>

                        <td style="padding-left: 12px;"><a class="showmore" id="showActionItems{{meeting.meetingId}}"
                                (click)="fetchActionItemsOfEvent(meeting.meetingId)" >Show Action Items</a></td>
                        <td><button data-target="#xlModal" data-toggle="modal" (click)="fetchUserOrganizedMeetings(meeting)"
                            (click)="fetchActionItemsOfEvent(meeting.meetingId)">sendMoM</button></td>
                    </tr>
                    <tr class="detail">
                        <td colspan="12">
                            <div>
                                <table id="myTable{{meeting.meetingId}}" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th id="tablehead"><input type="checkbox" id="actionItemMainCheck{{meeting.meetingId}}"
                                                (change)="checkAllcheckBoxesOfCurrentMeeting(meeting.meetingId, $event)" /></th>
                                            <!-- <th id="tablehead"></th> -->
                                            <th id="tablehead">ActionItemId</th>
                                            <th id="tablehead">Action Item</th>
                                            <th id="tablehead">Owner(suggested)</th>
                                            <th id="tablehead">Start Date</th>
                                            <th id="tablehead">Description</th>
                                            <th id="tablehead">Status</th>
                                            <th id="tablehead">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let actionItem of actionItemsOfMeeting; let i= index">
                                        <tr *ngIf="actionItem.meetingId === meeting.meetingId">
                                            <td>
                                                <b *ngIf="actionItem.actionStatus == 'Converted' else enableCheck">
                                                    <input type="checkbox" disabled="true" />
                                                </b>
                                                <ng-template #enableCheck>
                                                    <input type="checkbox" id="ac-check{{i}}" class="ac-check"
                                                        value="{{actionItem.actionItemId}}"
                                                        (change)="toggleSubmitAndDeleteButtons(meeting.meetingId,i)" />
                                                </ng-template>
                                            </td>
                                            <td>A000{{i+1}}</td>
                                            <td>{{actionItem.actionItemTitle}}</td>
                                            <td>{{actionItem.actionItemOwner}}</td>
                                            <td>{{actionItem.startDate}}</td>
                                            <td>{{actionItem.actionItemDescription}}</td>
                                            <td>{{actionItem.actionStatus}}</td>
                                            <td *ngIf="actionItem.actionStatus==='Not Converted'">
                                                <!--<button (click)="editData(actionItem.id)"  data-toggle="modal" data-target="#myModal">edit</button>&nbsp;<button (click)="deleteData(actionItem.id)">delete</button>-->
                                                <span class="edit-icon"
                                                    (click)="editActionItem(actionItem.actionItemId)"
                                                    (click)="getActiveUMSUsersEmailIdList()"
                                                    data-toggle="modal" data-target="#myModal">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                        viewBox="0 0 20 20" fill="none">
                                                        <g id="edit">
                                                            <path id="Vector"
                                                                d="M2.5 14.3761V17.5007H5.62543L14.8475 8.28116L11.7221 5.15659L2.5 14.3761ZM17.2562 5.87316C17.5813 5.54821 17.5813 5.01911 17.2562 4.69416L15.3101 2.7486C14.9851 2.42364 14.4558 2.42364 14.1308 2.7486L12.6056 4.27339L15.731 7.39795L17.2562 5.87316Z"
                                                                fill="#5590AA" />
                                                        </g>
                                                    </svg>
                                                </span>
                                            </td>
                                            <td *ngIf="actionItem.actionStatus==='Converted'">
                                                <!--<button (click)="editData(actionItem.id)"  data-toggle="modal" data-target="#myModal">edit</button>&nbsp;<button (click)="deleteData(actionItem.id)">delete</button>-->
                                                <span class="edit-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                        viewBox="0 0 20 20" fill="none">
                                                        <g id="edit">
                                                            <path id="Vector"
                                                                d="M2.5 14.3761V17.5007H5.62543L14.8475 8.28116L11.7221 5.15659L2.5 14.3761ZM17.2562 5.87316C17.5813 5.54821 17.5813 5.01911 17.2562 4.69416L15.3101 2.7486C14.9851 2.42364 14.4558 2.42364 14.1308 2.7486L12.6056 4.27339L15.731 7.39795L17.2562 5.87316Z"
                                                                fill="#D3D3D3" />
                                                        </g>
                                                    </svg>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr style="background-color: white;">
                                            <td style="text-align: center;" colspan="7">
                                                <a data-toggle="modal" data-target="#myModal_add"
                                                    style="cursor: pointer;padding-left: 50px;"
                                                    (click)="getActiveUMSUsersEmailIdList()">Add Action Item</a>
                                            </td>
                                           <!----<td>
                                                <button clas="btn-primary"  data-target="#xlModal" data-toggle="modal" (click)="convertActionItemToTask(meeting)">Submit</button>
                                            </td>-->
                                            <!-- submit and delete btn -->
                                            <td style="display: none;" id="submitAndDelete{{meeting.meetingId}}" colspan="2">
                                                <a (click)="convertActionItemToTask(meeting)"
                                                    style="cursor: pointer; margin-left:-120px;"><button class="btn btn-primary submitButton">Submit</button></a>
                                                <a style="padding-left:24px ;cursor: pointer;"
                                                    (click)="checkCheckboxes(meeting.meetingId)"><button class="btn btn-outline-danger deleteButton">Delete</button></a>
                                            </td>
                                            <td id="emptycell{{meeting.meetingId}}" style="display: table-cell;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- <div id="meeting-headings"></div> -->
            <!-- <div class="col-sm-1">Id</div>
            <div class="col-sm-3">Title</div>
            <div class="col-sm-2">Organizer</div>
            <div class="col-sm-2">StartDate/Time</div>
            <div class="col-sm-2">EndDate/Time</div>
            <div class="col-sm-1">Attendees</div>
        </div>
        <div id="meeting-data" class="row" *ngFor="let meeting of meetings">
            <div class="col-sm-1">{{meeting.id}}</div>
            <div id="title" class="col-sm-2">{{meeting.subject}}</div>
            <div class="col-sm-2" id="divrow">{{meeting.organizerName}}</div>
            <div class="col-sm-2" id="divrow">{{meeting.startDateTime}}</div>
            <div class="col-sm-2" id="divrow">{{meeting.endDateTime}}</div>
            <div class="col-sm-2" id="divrow-attendee">{{meeting.attendees.length}}</div>
            <div style="padding-top: 6px;"></div>
            <hr style="width: 1340px;"/>
        </div> -->
        </div>

        <div>
            <p id="no-meetings" *ngIf="meetingCount === 0">No Meetings Organized Yet ! </p>
        </div>
        <!-- ngif -->
    </div>
    <!-- ngif -->
    <div class="card-body" *ngIf="tabOpened === 'AttendedMeeting'">
        <div class="row" *ngIf="attendedMeetingCount>0; else noMeetings">
            <table class="table table-hover" height="40">
                <thead id="thead">
                    <th>Sno</th>
                    <th style="width: 200px;">Title</th>
                    <th>Organizer</th>
                    <th>Start Date/Time</th>
                    <th>End Date/Time</th>
                </thead>
                <tbody>
                    <tr *ngFor="let meeting of attendedMeetings; let i = index">
                        <td>{{i+1}}</td>
                        <td id="meeting-subject">{{meeting.subject}}</td>
                        <td>{{meeting.organizerName}}</td>
                        <td>{{meeting.startDateTime}}</td>
                        <td>{{meeting.endDateTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <ng-template #noMeetings>
                <table class="table table-hover">
                    <thead id="thead">
                        <th>Id</th>
                        <th>Title</th>
                        <th>Organizer</th>
                        <th>Start Date/Time</th>
                        <th>End Date/Time</th>
                    </thead>
                </table>
                <p id="no-meetings">No Meetings Attended Yet ! </p>
            </ng-template>
        </div>
    </div>

    <!-- action item add modal -->
    <div>
        <!-- add modal -->
        <div class="modal" id="myModal_add">
            <div class="modal-dialog">
                <div class="modal-content" id="modal-content"style="margin: 10px;margin: 70px;">
                    <!--Modal Header-->
                    <div class="modal-header">
                        <h4 class="modal-title" style="text-align: center;">Add Action Item</h4>
                    </div>
                    <br>
                    <form #form="ngForm" method="POST">
                        <label><b>ActionItem Title</b></label>
                        <input type="text" class="form-control" style="width: 400px;padding-top: 10px;"
                            [(ngModel)]="addDetails.actionItemTitle" required="true" name="actionItemTitle"
                            id="actionItemTitle"
                            minlength="5" maxlength="500" #actionItemTitle="ngModel"
                            [class.invalid]="actionItemTitle.invalid && actionItemTitle.touched"
                            (keyup)="validateActionTitle()">
                        <div *ngIf="actionItemTitleErrorInfo != ''">
                            <span id="errorSpan">{{actionItemTitleErrorInfo}}</span>
                        </div>
                        <!-- title end -->
                        <label><b>ActionItem Description</b></label>
                        <div style="padding-left: 10px;">
                            <textarea type="text" rows="3" cols="3" class="form-control" style="width:400px;"
                            [(ngModel)]="addDetails.actionItemDescription" required="true" name="actionItemDescription"
                            #actionItemDescription="ngModel" minlength="10" maxlength="1000"
                            id="actionItemDescription"
                            [class.invalid]="actionItemDescription.invalid && actionItemDescription.touched"
                            (keyup)="validateActionDescription()"></textarea>
                        </div>
                        <div *ngIf="actionItemDescriptionErrorInfo != ''">
                            <span id="errorSpan">{{actionItemDescriptionErrorInfo}}</span>
                        </div>
                        <!-- description end -->
                        <!--<textarea style="margin:10px; width: 400px; ">{{this.updatedetails.Description}}</textarea>-->
                        <label for="priority"><b>Priority</b></label>
                        <select id="priority" class="form-control" style="width: 400px;"
                            [(ngModel)]="addDetails.actionPriority" required="true" name="actionPriority"
                            #actionPriority="ngModel" [class.invalid]="actionPriority.invalid && actionPriority.touched"
                            id="actionItemPriority"
                            (click)="validateActionPriority()">
                            <option>select</option>
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                        </select>
                        <div *ngIf="actionItemPriorityErrorInfo != ''">
                            <span id="errorSpan">{{actionItemPriorityErrorInfo}}</span>
                        </div>
                        <!-- priority end -->
                        <label style="padding-bottom: 10px;"><b>Action Owner</b></label>
                        <!-- <select class="form-control" style="width:400px;"
                        [(ngModel)]="addDetails.actionItemOwner" required="true" name="actionItemOwner"
                        #actionItemOwner="ngModel" [class.invalid]="actionItemOwner.invalid && actionItemOwner.touched">
                            <option>select</option>
                            <option *ngFor="let emailId of userEmailIdList">{{emailId}}</option>
                    </select> -->
                        <div style="padding-left: 10px;">
                            <ng-select class="form-control" [searchable]="true" [clearable]="true" id="actionItemOwner"
                                name="actionItemOwner" style="width: 400px;" 
                                (change)="validateActionItemOwner()" [(ngModel)]="addDetails.actionItemOwner">
                                <ng-option [value]="">choose</ng-option>
                                <ng-option [value]="emailId" *ngFor="let emailId of userEmailIdList">
                                    {{emailId}}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div *ngIf="actionItemOwnerErrorInfo != '' || actionItemOwnerErrorInfo==null">
                            <span id="errorSpan">{{actionItemOwnerErrorInfo}}</span>
                        </div>
                        <!--<input type="text" style="width:400px;" [(ngModel)]="addDetails.actionPriority">-->
                        <label><b>StartDate</b></label>
                        <input type="datetime-local" min="{{min}}" class="form-control" style="width:400px;"
                            [(ngModel)]="addDetails.startDate" required="true" id="actionItemStartDate" 
                            name="startDate" #startDate="ngModel"
                            [class.invalid]="startDate.invalid && startDate.touched"
                            (change)="validateActionStartDate()">
                        <div *ngIf="actionItemStartDateErrorInfo != ''">
                            <span id="errorSpan">{{actionItemStartDateErrorInfo}}</span>
                        </div>
                        <label><b>EndDate</b></label>
                        <input type="datetime-local" min="{{min}}"class="form-control" style="width:400px;"
                            [(ngModel)]="addDetails.endDate" required="true" id="actionItemEndDate" 
                            name="endDate" #endDate="ngModel"
                            [class.invalid]="endDate.invalid && endDate.touched"
                            (change)="validateActionEndDate()">
                        <div *ngIf="actionItemEndDateErrorInfo != ''">
                            <span id="errorSpan">{{actionItemEndDateErrorInfo}}</span>
                        </div>
                        <!--footer-->
                        <div class="modal-footer" role="alert">
                            <button type="submit"  class="btn btn-primary saveButton"
                                (click)="saveActionItem(form)">Save</button>
                            <button type="button" class="btn btn-outline-danger cancelButton"
                                (click)="clearErrorMessages(form)" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Modal for update-->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content" style="margin: 10px;">
                <!--Modal Header-->
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center;">UpdateActionItem</h4>
                </div>
                <br>
                <!--- <label>ActionItem Title</label>
            <input type="text" style="width: 400px;" value="{{this.updatedetails.actionTitle}}">
            <label>ActionItem Description</label>
            <input type="text" style="width:400px; " value="{{this.updatedetails.description}}">-->
                <!--<textarea style="margin:10px; width: 400px; ">{{this.updatedetails.Description}}</textarea>-->
                <!-- <label>Priority</label>
            <input type="text" style="width:400px;" value="{{this.updatedetails.actionPriority}}">
            <label>StartDate</label>
            <input type="datetime-local" style="width:400px;" value="{{this.updatedetails.startDate}}">
            <label>EndDate</label>
            <input type="datetime-local" style="width:400px;" value="{{this.updatedetails.endDate}}">-->


                <label><b>ActionItem Title</b></label>
                <input type="text" class="form-control" style="width: 400px;" [(ngModel)]="updatedetails.actionItemTitle" required="true"
                name="uAcItemTitle"
                id="uAcItemTitle"
                minlength="5" maxlength="500" #uAcItemTitle="ngModel"
                [class.invalid]="uAcItemTitle.invalid && uAcItemTitle.touched"
                (keyup)="validateUpdateActionTitle()">
              <div *ngIf="updateActionItemTitleErrorInfo != ''">
                <span id="errorSpan">{{updateActionItemTitleErrorInfo}}</span>
              </div>
                <label><b>ActionItem Description</b></label>
                <div style="padding-left: 10px;">
                    <textarea type="text" rows="3" cols="3" class="form-control" style="width:400px;" [(ngModel)]="updatedetails.actionItemDescription"
                    required="true" name="uAcItemDesc"
                    id="uAcItemDesc"
                    minlength="5" maxlength="500" #uAcItemDesc="ngModel"
                    [class.invalid]="uAcItemDesc.invalid && uAcItemDesc.touched"
                    (keyup)="validateUpdateActionDescription()"></textarea>
                </div>
                  <div *ngIf="updateActionItemDescErrorInfo != ''">
                    <span id="errorSpan">{{updateActionItemDescErrorInfo}}</span>
                  </div>
                <!--<textarea style="margin:10px; width: 400px; ">{{this.updatedetails.Description}}</textarea>-->
                <label><b>Priority</b></label>
                <select id="priority" class="form-control" style="width: 400px;" [(ngModel)]="updatedetails.actionPriority" required="true"
                name="uAcPriority"
                            #uAcPriority="ngModel" [class.invalid]="uAcPriority.invalid && uAcPriority.touched"
                            id="actionItemPriority"
                            (click)="validateUpdateActionPriority()">
                            <option>select</option>
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                        </select>
                        <div *ngIf="updateActionItemPriorityErrorInfo != ''">
                            <span id="errorSpan">{{updateActionItemPriorityErrorInfo}}</span>
                        </div>
                <label><b>Action Owner</b></label>
                    <ng-select class="form-control" [searchable]="true" [multiple]="true"
                     [clearable]="true" id="uAcItemOwner" [selectableGroup]="true"
                        name="uAcItemOwner" style="width: 400px;" 
                        (change)="validateUpdateActionItemOwner()" [(ngModel)]="updatedetails.actionItemOwner">
                        <ng-option [value]="">choose</ng-option>
                        <ng-option [value]="emailId" *ngFor="let emailId of userEmailIdList">
                            {{emailId}}
                        </ng-option>
                    </ng-select>
                   <div style="width: 410px;padding-left: 10px;">
                <!-- <ng-select class="form-control" [items]="userEmailIdList" bindLabel="name" bindValue="id" [multiple]="true" groupBy="selectedAllGroup"
                    [selectableGroup]="true" placeholder="" (change)="onMaterialGroupChange($event)" 
                    style="background-color: white;">
                
                    <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> Select All
                    </ng-template>
                </ng-select> -->
                   </div>
                
                <div *ngIf="updateActionItemOwnerErrorInfo != '' || updateActionItemOwnerErrorInfo==null">
                    <span id="errorSpan">{{updateActionItemOwnerErrorInfo}}</span>
                </div>
                <!--- <input type="text" style="width:400px;" [(ngModel)]="updatedetails.actionPriority">-->
                <label><b>StartDate</b></label>
                <input type="datetime-local" class="form-control" min="{{min}}" style="width:400px;" [(ngModel)]="updatedetails.startDate" required="true"
                id="uAcItemStartDate" 
                            name="uAcItemStartDate" #uAcItemStartDate="ngModel"
                            [class.invalid]="uAcItemStartDate.invalid && uAcItemStartDate.touched"
                            (change)="validateUpdateActionStartDate()">
                        <div *ngIf="updateActionItemStartDateErrorInfo != ''">
                            <span id="errorSpan">{{updateActionItemStartDateErrorInfo}}</span>
                        </div>
                <label><b>EndDate</b></label>
                <input type="datetime-local" class="form-control" min="{{min}}" style="width:400px;" [(ngModel)]="updatedetails.endDate" required="true"
                id="uAcItemEndDate" 
                            name="uAcItemEndDate" #uAcItemEndDate="ngModel"
                            [class.invalid]="uAcItemEndDate.invalid && uAcItemEndDate.touched"
                            (change)="validateUpdateActionEndDate()">
                        <div *ngIf="updateActionItemEndDateErrorInfo != ''">
                            <span id="errorSpan">{{updateActionItemEndDateErrorInfo}}</span>
                        </div>

                <!--footer-->
                <div class="modal-footer">
                    <button type="submit" id="saveActionItem" class="btn btn-primary updateButton" (click)="updateActionItem(form)"
                        [(ngModel)]="updatedetails">Update</button>
                    <button type="button" class="btn btn-outline-danger cancelButton" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>


    <!-- MOM modal -->
    <div class="modal" tabindex="-1"  id="xlModal"  >
        <div class="modal-dialog modal-lg">
            <div class="modal-content" *ngIf="meetingData != null">
                <div class="modal-header" style="background-color: #134E69D9; color: #ecf7fc;">
                <h5 class="modal-title" id="xlModalLabel">Meeting Minutes - {{meetingData.subject}}</h5>
                <div style="padding-left: 300px;"> 
                    <button type="submit" style="color:black;" (click)="sendMOMEmail(meetingData)">Send
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 12 13" fill="none">
                        <g id="send">
                        <mask id="mask0_3149_68857" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="12" height="13">
                        <rect id="Bounding box" y="0.5" width="12" height="12" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_3149_68857)">
                        <path id="send_2" d="M1.5 10.5V7.5L5.5 6.5L1.5 5.5V2.5L11 6.5L1.5 10.5Z" fill="#4880FF"/>
                        </g>
                        </g>
                     </svg>
                    </button>
                
                </div> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <p aria-hidden="true" style="color:white; padding-top: 0px;">&times;</p>
                </button>
                </div>
                 <div class="modal-body">
                    <label for="email" style="padding-left: 0px;"><b>Superiors</b></label>
                    <input type="text" id="email"/>
                    <hr>
                    <div class="row"   *ngIf="meetingData!=null">
                        <div class="col-md-6" >
                        <table class="sendMOMEmail">
                            <thead>
                            </thead>
                            <tbody>
                               <tr>
                                   <td><b>Meeting Title :</b></td>
                                   <td>{{meetingData.subject}}</td>
                               </tr>
                               <tr>
                                 <td><b>Start Date :</b></td>
                                 <td>{{meetingData.startDateTime}}</td>
                              </tr>
                              <tr>
                                <td><b>Duration : </b></td>
                                <td>{{null}}</td>
                            </tr>
                            </tbody>
                       </table>
                    </div>
                      <div class="col-md-6">
                        <table class="sendMOMEmail2">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>Organizer :</b></td>
                                    <td>{{meetingData.organizerName}}</td>
                                </tr>
                                <tr>
                                    <td><b>Description :</b></td>
                                    <td>Value</td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                   </div>
                   <hr>
                   <label for="attendees"><b>Attendees</b></label>
                   <div  *ngIf="meetingData!= null">
                   
                       <div *ngFor="let attendees of meetingData.attendees">
                           <label>{{attendees.email}}</label>
                       </div>
                  </div>
                   <hr>
                   <label for="Actions" ><b>Action Item</b></label>
                   <!-- <div *ngFor="let action of actionItemsOfMeeting; let i=index">
                     <label *ngIf="meetingData.meetingId == action.meetingId">{{i+1}}. {{action.actionItemTitle}}</label>
                   </div> -->
                   <div  *ngFor="let action of actionItemsOfMeeting; let i=index">
                    <div *ngIf="meetingData!= null && meetingData.meetingId == action.meetingId">
                      <label >{{i+1}}. {{action.actionItemTitle}}</label>
                    </div>
                </div>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger closeButton" data-dismiss="modal" (click)="clearErrorMessages(form)">Close</button>
                </div>
            </div>
        </div>
    </div>