.container-fluid{
    padding-top: 10px;
    padding-left:120px;
    padding-right: 32px;
}

.card-header{

    background-color: #134E69D9;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;

}
#heading{
    color: #F6FBFD;
    padding-top: 8px;
}

.card-body {
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
}
.input-border{
    border-radius: 8px;
    border: 1px solid var(--brand-color-1, #2AA3D9);
}

#addBtn{
    border-radius: 4px;
    background: var(--side-text, #ECF7FC);
}

#addBtnDiv{
    padding-top: 8px;
    padding-left: 15px;

}

#deleteBtn{
    border-radius: 4px;
    background: var(--side-text, #ECF7FC);
}

#deleteBtnDiv{
    padding-top: 8px;
    
}

#searchDiv{
    padding-top: 8px;
}

#filter {
    padding-top: 10px;
    color: #F6FBFD;
    cursor: pointer;
    font-weight: bold;
}

#thead {
    background: var(--side-text, #ECF7FC);
}

#tablehead{
    background: var(--side-text, #ECF7FC);
}
table th{
    background: var(--side-text, #ECF7FC);
    font-size: 11px;
}

td{
    font-size: 11px;
}
.updateEmployeeInput, .addEmployeeInput{
    border: 1px solid #2AA3D9;
    height: 50px;
    width: 400px;
}
.modal-body{
    margin-left: 35px;
}
#modalHeader{
    background-color: #134E69D9; 
    color: #ecf7fc;
}
#errorMessage{
    color: red;
    font-size: 12px;
  }
.checkbox{
    width: 13.5px;
    height: 13.5px;
}
.mainCheckBox{
    width: 13.5px;
    height: 13.5px;

}
#trashIcon, #editIcon{
     cursor: pointer;
}
