html {
    -webkit-text-size-adjust: 100%;
}

.container-fluid {
    padding-top: 10px;
    padding-left: 120px;
    padding-right: 32px;
    padding-bottom: 20px;
}

.card-header {

    background-color: #134E69D9;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;

}

#heading {
    color: #F6FBFD;
    padding-top: 8px;
}

.card-body {
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
}

#thead {
    background: var(--side-text, #ECF7FC);
}

table th {
    padding-bottom: 20px;
}

#tablehead {
    background: var(--side-text, #ECF7FC);
}

.input-border {
    border-radius: 8px;
    border: 1px solid var(--brand-color-1, #2AA3D9);
}

.modal {
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
}

.addBtn {
    border-radius: 4px;
    background: var(--side-text, #ECF7FC);
}

#addBtnDiv {
    padding-top: 8px;
    padding-left: 15px;

}

#deleteBtn {
    border-radius: 4px;
    background: var(--side-text, #ECF7FC);
}

#deleteBtnDiv {
    padding-top: 8px;

}

#searchDiv {
    padding-top: 8px;
}

#filter {
    padding-top: 10px;
    color: #F6FBFD;
    cursor: pointer;
    font-weight: bold;
}

.deptInput {
    border: 1px solid #2AA3D9;
    height: 50px;
    width: 400px;
}


#trashIcon {
    cursor: pointer;
}

#editIcon {
    cursor: pointer;
}

table th {
    background: var(--side-text, #ECF7FC);
    font-size: 14px;
}

table td {
    font-size: 14px;
    padding-left: 17px;
}

#updateHeading {
    color: #2AA3D9;
}

.modal-body {
    margin-left: 35px;
}

#modalHeader {
    background-color: #134E69D9;
    color: #ecf7fc;
}

#errorMessage {
    color: red;
    font-size: 12px;
}

#errorInfo {
    color: red;
    font-size: 12px;
}

input[type=checkbox] {
    margin: 4px 0 0;
    line-height: normal;
    width: 18px;
    height: 17px;
}

.inputStyling{
    border: 1px solid #2AA3D9;
    border-radius: 4px;
    width: 400px;
}

/* CSS for loader symbol */
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    color: #2AA3D9;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #30D64B;
      transform: rotateY(70deg);
      animation-delay: .3s;
    }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }
  
  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }
  
  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }

  .pad{
    top: -400px;
  }

   /* The container */
.container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* When the checkbox is checked, add a blue background */
.container input:disabled ~ .checkmark {
  background-color: rgb(227, 225, 225);
  border: 1px light gray;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 8px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}