.sidenav {
    min-height:100vh;/* Full-height: remove this if you want "auto" height */
    width: 90px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    text-align: center;
    background-color:#E5EEF1; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-bottom: 10px;
    /* height: 1000px; */
  }

  #sideMenuText{
   font-size: 13px;
  }

  @media (min-width: 450px) {
   .container-fluid-sm {
       flex-direction: row;
   }
}

  
  .nav-pills li a:hover .d-none{
     color: black;

  }
  
  .nav-pills li a:hover{
   background-color: #5590AA;
   border-radius: 0;
   border-left: 2px solid black;
   cursor: pointer;
  }
  .nav-pills li a:hover i{
     color: black;
  }
  .nav-pills li a:hover svg{
     color: black;

  }

  .nav-pills li a:hover path{
     fill: black;
  }
  .nav-pills li,.d-none{
     
     /* font-family: General Sans; */
     font-size: 8px;
     font-style: normal;
     font-weight: 600;
     line-height: 150%;
     color: #5590AA;
     text-align: center;
   
  }
  i{
     color: #5590AA;
  }
  svg{
      color: #5590AA;
  }
  
  .overview {
   position: relative;
   font-size: 10px;
   line-height: 150%;
   font-weight: 600;
   font-family: 'General Sans';
   /* color: #2aa3d9; */
   text-align: center;

}

.nav-link{
   color: #2AA3D9;
}

.nav-link:hover{
   color: black;
   background-color: #5590AA;
}

.active-link{
   background-color: #5590AA;
   color: black;
   border-radius: 0px;
   border-left: 2px solid black;
}
 .active-link path {
   fill: black;
}



