<div>
    <app-side-menubar></app-side-menubar>
</div>
<div>
    <app-header [title]="title"></app-header>
</div>
<div class="container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-4">
                <h2 id="heading">Batch Processing</h2>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div *ngIf="batchRecordsCount > 0; else noBatchRecords" class="row">
            <table class="table table-hover" id="table">
                <thead id="thead">
                    <tr>
                        <th>Batch ID</th>
                        <th>Start Date & Time</th>
                        <th>End Date & Time</th>
                        <th>LastSuccessfullExecutionDate & Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of batchDetails">
                    <tr>
                        <td>BD{{item.batchId}}</td>
                        <td>{{item.startDateTime|date:'MMM d, y, h:mm a'}}</td>
                        <td>{{item.endDateTime |date:'MMM d, y, h:mm a'}}</td>
                        <td>
                            {{item.lastSuccessfullExecutionDateTime|date:'MMM d, y, h:mm a'}}
                        </td>
                        <td>{{item.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- NO records -->
        <ng-template #noBatchRecords>
            <table class="table table-hover">
                <thead id="thead">
                    <tr>
                        <th>ID</th>
                        <th>Start Date</th>
                        <th>End Time</th>
                        <th>LastSuccessfullExecutionDate & Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
            </table>
             <p id="no-records">No Batch Reports Yet ! </p>
        </ng-template>
    </div>

</div>