.container-fluid {
  padding-top: 10px;
  padding-left: 120px;
  padding-right: 32px;
  padding-bottom: 20px;
}

.card-header {
  background-color: #134E69D9;
  padding-left: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#heading {
  color: #F6FBFD;
  padding-top: 8px;
}

.card-body {
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
}

#filter {
  padding-top: 10px;
  color: #F6FBFD;
  cursor: pointer;
  font-weight: bold;
}


#OrganizedTask {
  padding-top: 15px;
  color: #F6FBFD;
  cursor: pointer;
  font-weight: bold;
}

#AssignedTask {
  padding-top: 15px;
  color: #F6FBFD;
  cursor: pointer;
  font-weight: bold;
}


table th {
 
  width: 20px;
  text-align: left;
  font-size: 11px;
  white-space: nowrap;
}

th,
td {

  /*overflow: hidden;*/
  /* Hide overflowing content 
  text-overflow: ellipsis;
  /* Show ellipsis for long content */
  font-size: 11px;
}

table tr td {
  padding-left: 18px;
}

/*.input{
     margin: 10px;
  }*/

td {

  padding-top: 15px;

}

/*#delete_button{

  #thead {
    background: var(--side-text, #ECF7FC);
  }

  #delete_button{
    position: relative;
    line-height: 150%;
    border-radius: 4px;
    background-color: #ecf7fc;
    box-sizing: border-box;
    padding: 8px 20px;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 14px;
    color: #000;
  }*/

#deleteBtn {
  border-radius: 4px;
  background: var(--side-text, #ECF7FC);
}

#deleteBtnDiv {
  padding-top: 9px;

}

.edit-icon:hover {
  color: aqua;
  cursor: pointer;
}

#trashIcon :hover {
  cursor: pointer;
}

/* input{
    margin: 10px;
 }*/

.mainCheckBox {
  width: 15px;
  height: 15px;

}

.subCheckBox {
  width: 15px;
  height: 15px;
}

#modal_checkbox {


  margin-left: 14px;
  margin-top: 3px;
  /*padding-top: 2px;
  padding-left: 100px;*/
}

#no-meetings {

  text-align: center;
  padding-top: 180px;
  color: #000;
  font-family: General Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;


}

#details-section {
  display: flex;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;

}

#error_msg {
  color: red;
}

#title-label{
  position: relative;
  line-height: 150%;
  color: #f9fcff;

}
#description-label{
  position: relative;
  line-height: 150%;
  color: #f9fcff;

}

#details-label {
  position: relative;
  font-size: 18px;
  line-height: 150%;
  font-weight:bold;
  color: #f9fcff;
}

.saveButton:hover {
  background-color: #2b63b1;
  border-color: #2b63b1;
}

.closeButton:hover {
  color: white;
  background-color: #FD5454;
  border-color: #fd5454;
}

#task-subject {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 90px;
  cursor: pointer;
}

#task-subject:hover {
  overflow: visible;
  white-space: normal;
}

#priority {
  width: 315px;
  height: 35px;
  font-size: 14px;
}

#required {
  color: red;

}

/* filters css */
.filters {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}

.cross-icon {
  position: relative;
  width: 17.97px;
  height: 18.03px;
}

.filters-parent {
  border-bottom: 2px solid #d5d5d5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0px;
  gap: 251px;
}


.filter-option {
  position: relative;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 68px;
  height: 13px;
  flex-shrink: 0;
}

.frame-child {
  position: relative;
  width: 6.99px;
  height: 7.01px;
}



.frame-inner {
  position: relative;
  width: 6px;
  height: 6px;
}

.frame-parent {
  border-radius: 4px;
  background-color: #e5eef1;
  width: 300px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px;
  box-sizing: border-box;
  gap: 13px;
}

.action-item-title {
  position: relative;
  line-height: 150%;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 20px; /* Adjust the value based on your desired position */
  transform: translateY(-50%);
  cursor: pointer;
}


.meeting-title-filter {
  position: relative;
}


.id-hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 183px 4px 8px;
}

.id-hover2 {
  background-color: #e5eef1;
  border: 0.2px solid #606060;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 183px 4px 8px;
  color: #202224;
}

.id-hover-parent {
  background-color: #ecf7fc;
  height: 0px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 1px;
  box-sizing: border-box;
  gap: 3px;
  font-size: 12px;
}

.meeting-title-dd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.expand-more-icon {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
}

.meeting-organizer-filter {
  border-radius: 3px;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 16px;
  gap: 158px;
}

.id-hover4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 213px 4px 8px;
}

.id-hover6 {
  background-color: #e5eef1;
  border: 0.2px solid #606060;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 213px 4px 8px;
  color: #202224;
}


.to {
  position: relative;
  line-height: 150%;
  color: #a6a6a6;
}

.date-range {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
}

.filter-dd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 12px 24px;
  gap: 36px;
  font-size: 12px;
  color: #606060;
}


.submit-button {
  border-radius: 5px;
  background-color: #4880FF;
  border: 1px solid #151618;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px 40px;
  width: 128px;
}

.delete-button {
  border-radius: 5px;
  border: 1px solid #FE672E;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px 40px;
  color: #FE672E;
  width: 128px;
}

.submit-button-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 42px;
  font-size: 14px;
  color: #fff;
}

.filters-action-item {
  position: relative;
  border-radius: 4px;
  background-color: #ecf7fc;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 12px 12px;
  box-sizing: border-box;
  text-align: left;
  font-size: 18px;
  color: #202224;
}


.action-icon {
  position: relative;
  width: 16px;
  height: 16px;
}

.july-2023 {
  position: relative;
  line-height: 22px;
}

.month {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 0px;
  gap: 41px;
  color: #202224;
}

.mon {
  position: relative;
  line-height: 16px;
  display: inline-block;
  width: 30px;
  flex-shrink: 0;
}

.headers {
  width: 218px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 0px 0px;
  box-sizing: border-box;
  gap: 1px;
  font-size: 12px;
  color: #606060;
}
.day1 {
  position: relative;
  line-height: 150%;
}

.day {
  border-radius: 8px;
  background-color: #fff;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 6px;
  box-sizing: border-box;
}

.day10 {
  border-radius: 8px;
  background-color: #fff;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 6px;
  box-sizing: border-box;
  color: #000716;
}



.row1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}




.month-parent {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.end-callender-dd {
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  width: 234px;
  height: 264px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: 14px;
  color: #000716;
}


.action-icon2 {
  position: relative;
  width: 16px;
  height: 16px;
}

.july-20231 {
  position: relative;
  line-height: 22px;
}

.month1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 0px;
  gap: 41px;
  color: #202224;
}

.mon1 {
  position: relative;
  line-height: 16px;
  display: inline-block;
  width: 30px;
  flex-shrink: 0;
}

.headers1 {
  width: 218px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 0px 0px;
  box-sizing: border-box;
  gap: 1px;
  font-size: 12px;
  color: #606060;
}

.day85 {
  position: relative;
  line-height: 150%;
}

.day84 {
  border-radius: 8px;
  background-color: #fff;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 6px;
  box-sizing: border-box;
}

.day94 {
  border-radius: 8px;
  background-color: #fff;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 6px;
  box-sizing: border-box;
  color: #000716;
}

.row6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #a6a6a6;
}

.row7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.day112 {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #4880ff;
  box-sizing: border-box;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 6px;
  color: #202224;
}

.month-group {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.start-callender-dd {
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  width: 234px;
  height: 264px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: 14px;
  color: #000716;
}

#dialog {
  position: absolute;
  top: 17vh;
  right: 0px;
  bottom: 0;
  left: 350;
  margin-right: 80px;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;

}

b {
  color: black;
}

/* CSS for loader symbol */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  color: #2AA3D9;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #30D64B;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

#editIcon{
  background: none;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

#trashIcon{
  background: none;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
 
/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 360px;
  background-color:rgba(0, 0, 0, 0.57);
  color: white;
  text-align: left;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 177%;
  left: 50%;
  font-size: 12px;
  height: 50px;
  padding-top: 4px;
  backdrop-filter: blur(12px);

}
 
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} 

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
}
 
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Popup container - can be anything you want */
.popup2 {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
 
/* The actual popup */
.popup2 .popuptext2 {
  visibility: hidden;
  width: 360px;
  background-color: rgba(0, 0, 0, 0.57);
  color: white;
  text-align: left;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 177%;
  left: 48%;
  font-size: 12px;
  height: 50px;
  padding-top: 4px;
  backdrop-filter: blur(12px);

}
 
.popup2 .popuptext2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} 

/* Toggle this class - hide and show the popup */
.popup2 .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
}
 
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1.5;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1.5;}
}
.orgMeetingOuterDiv {
  display: flex;
  flex-direction: column;
}
.input-container {
  position: relative;
  
}
.Organizer{
  display: flex;
  justify-content: space-between;
}

input[type="datetime-local"] {
    font-size: 13px; /* Adjust the font size as needed */
    width: 100%;
}

