.container-fluid{
  padding-top: 10px;
  padding-left:120px;
  padding-right: 32px;
}

.card-header{
    background-color: #134E69D9;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#heading{
    color: #F6FBFD;
    padding-top: 8px;
}
.card-body{
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
}

#OrganizedTask{
  padding-top: 10px;
  color: #F6FBFD;
  cursor: pointer;
  font-weight: bold;
}

#AssignedTask{
  padding-top: 10px;
  color: #F6FBFD;
  cursor: pointer;
  font-weight: bold;
}


th{

    width: 20px;
    text-align: left;
  }
th,td{
    
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Show ellipsis for long content */
  }
 
  /*.input{
     margin: 10px;
  }*/
     
  td{
  
    padding-top:15px ;
   
  }
  #delete_button{
    position: relative;
    line-height: 150%;
    border-radius: 4px;
    background-color: #ecf7fc;
    box-sizing: border-box;
    padding: 8px 32px;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 14px;
    color: #000;
  }
  .edit-icon:hover{
    color: aqua;
    cursor: pointer;
 }
 /* input{
    margin: 10px;
 }*/

 .box{
  width: 20px;
  height: 20px;

}
.checkbox{
  width: 20px;
  height: 20px;
}
#modal_checkbox{
  

  margin-left: 14px;
  margin-top: 3px;
  /*padding-top: 2px;
  padding-left: 100px;*/
 }

 #no-meetings{
     
  text-align: center;
  padding-top: 180px;
  color: #000;
  font-family: General Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;


 }
 
 #details-section{
  display: flex;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 10px;

 }
#error_msg{
  color: red;
}

#details-label
{
  position: relative;
  font-size: 18px;
  line-height: 150%;
  font-weight: 600;
  font-family: 'General Sans';
  color: #f9fcff;
  text-align: left;
}
.saveButton:hover{
  background-color:#2b63b1 ;
  border-color: #2b63b1;  
}

.closeButton:hover{
  color:white;
  background-color: #FD5454;
  border-color: #fd5454;
}

#meeting-subject{
  white-space: nowrap;
  text-overflow:ellipsis; 
  overflow: hidden;
  max-width:90px;
  cursor: pointer;
}

#meeting-subject:hover{
  overflow: visible;
  white-space: normal;
}