<app-side-menubar></app-side-menubar>
<app-header [title]="title" id="header"></app-header>
<div class="container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-2">
                <h2 id="heading">Task List</h2>
            </div>
            <div class="col-sm-2" id="AssignedTask">
                <p (click)="getTasks('AssignedTask')" id="AssignedTask">Assigned Tasks</p>
            </div>
            <div class="col-sm-2" id="OrganizedTask">
                <p (click)="getTasks('OrganizedTask')" id="OrganizedTask" style="padding-right: 10px;">Organized Tasks
                </p>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3" style="padding-top: 9px; ">
                <input type="search" class="form-control" placeholder="Search task " />
            </div>
            <!--<div class="col-sm-1" style="padding-top: 17px;"><button id="add_button"type="btn btn-primary" (click)="addTask()"
                    data-toggle="modal" data-target="#myModal_add">delete</button></div>-->

            <div class="col-sm-1" style="padding-top: 8px;"><button id="delete_button" type="btn btn-primary"
                    (click)="checkCheckBoxes()">Delete</button></div>
        </div>
    </div>
    <div class="card-body" *ngIf="tabOpened === 'OrganizedTask'">
        <div calss="row" *ngIf="taskCount > 0 ; else noMeetings">
            <table class="table table-hover" id="myTable1">
                <thead style="background-color: #ecf7fc; padding-top: 0px;">
                    <th style="padding-left: 22px;"><input type="checkbox" class="maincheckbox" class="box"
                            style="margin: 0px;" (change)="checkAllCheckBoxes($event)">
                    </th>
                    <th>UID</th>
                    <th style="width: 140px;">Title</th>
                    <th>Assignees</th>
                    <th>StartDate</th>
                    <th>DueDate</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th></th>
                </thead>
                <tbody *ngFor="let item of task let i = index">
                    <tr>
                        <td style="padding-left: 21px;"><input type="checkbox" value="{{item.taskId}}" class="checkbox"
                                id="checkbox">
                        </td>
                        <!--- <td>{{item.taskId}}</td>-->
                        <td>T000{{i+1}}</td>
                        <td id="meeting-subject">{{item.taskTitle}}</td>
                        <td>{{item.taskOwner}}</td>
                        <td>{{item.startDate}}</td>
                        <td>{{item.dueDate}}</td>
                        <td>{{item.taskPriority}}</td>
                        <td>{{item.status}}</td>
                        <td>
                            <span class="edit-icon" data-target="#xlModal" data-toggle="modal"
                                (click)="editTask(item.taskId)" (click)="getActiveUsersEmailIdList()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                    fill="none">
                                    <g id="edit">
                                        <path id="Vector"
                                            d="M2.5 14.3761V17.5007H5.62543L14.8475 8.28116L11.7221 5.15659L2.5 14.3761ZM17.2562 5.87316C17.5813 5.54821 17.5813 5.01911 17.2562 4.69416L15.3101 2.7486C14.9851 2.42364 14.4558 2.42364 14.1308 2.7486L12.6056 4.27339L15.731 7.39795L17.2562 5.87316Z"
                                            fill="#5590AA" />
                                    </g>
                                </svg>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <ng-template #noMeetings>
                <table class="table table-hover">
                    <thead style="background-color: #ecf7fc; padding-top:0px;">
                        <th style="padding-left: 22px;"><input type="checkbox" class="box" style="margin: 0px;"></th>
                        <th>UID</th>
                        <th>Title</th>
                        <th>ActionItem</th>
                        <th>Assignees</th>
                        <th>StartDate</th>
                        <th>DueDate</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th></th>
                    </thead>
                </table>
                <p id="no-meetings">No Tasks Yet ! </p>
            </ng-template>
        </div>
        <!--  -->
    </div>
    <!-- ngif -->
    <div class="card-body" *ngIf="tabOpened === 'AssignedTask'">
        <div class="row" *ngIf="assignedTasksCount>0; else noAssignedTasks">
            <table class="table table-hover" height="40">
                <thead id="thead">
                    <th>Sno</th>
                    <th style="width: 140px;">Title</th>
                    <th>Owner</th>
                    <th>StartDate/Time</th>
                    <th>DueDate/Time</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let task of assignedTasks; let i = index">
                        <td>T000{{i+1}}</td>
                        <td id="meeting-subject">{{task.taskTitle}}</td>
                        <td>{{task.taskOwner}}</td>
                        <td>{{task.startDate}}</td>
                        <td>{{task.dueDate}}</td>
                        <td>
                            <span class="edit-icon" data-target="#xlModal" data-toggle="modal"
                                (click)="editTask(task.taskId)" (click)="getActiveUsersEmailIdList()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                    fill="none">
                                    <g id="edit">
                                        <path id="Vector"
                                            d="M2.5 14.3761V17.5007H5.62543L14.8475 8.28116L11.7221 5.15659L2.5 14.3761ZM17.2562 5.87316C17.5813 5.54821 17.5813 5.01911 17.2562 4.69416L15.3101 2.7486C14.9851 2.42364 14.4558 2.42364 14.1308 2.7486L12.6056 4.27339L15.731 7.39795L17.2562 5.87316Z"
                                            fill="#5590AA" />
                                    </g>
                                </svg>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <ng-template #noAssignedTasks>
                <table class="table table-hover">
                    <thead id="thead">
                        <th>Id</th>
                        <th>Title</th>
                        <th>Organizer</th>
                        <th>StartDate/Time</th>
                        <th>EndDate/Time</th>
                    </thead>
                </table>
                <p id="no-meetings">No tasks asisgned for you yet ! </p>
            </ng-template>
        </div>
    </div>
</div>

<!-- Button to trigger the modal -->


<!-- The Modal
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            
            <div class="modal-header">
                <h5 class="modal-title">Modal Title</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            
            <div class="modal-body">
                <p>This is a Bootstrap 4.6.2 modal. You can place content here.</p>
            </div>

            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save Changes</button>
            </div>

        </div>
    </div>
</div> -->


<!---Long modal-->
<div class="modal fade" id="xlModal" tabindex="-1" role="dialog" aria-labelledby="xlModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #134E69D9; color: #ecf7fc;">
                <h5 class="modal-title" id="xlModalLabel">Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white; padding: 5px; padding-top: 0px;">&times;</span>
                </button>
            </div>
            <form #form="ngForm" method="POST">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label style="margin-left: 30px; font-size: 20px;">Task Title</label><br>
                            <textarea type="text" style="margin-left: 30px;width: 500px;" class="form-control"
                                name="taskTitle" required="true" [(ngModel)]="update_Task.taskTitle"
                                #taskTitle="ngModel" [class.invalid]="taskTitle.invalid && taskTitle.touched"
                                (keyup)="validateTaskTitle()"></textarea>
                            <div *ngIf="taskTitleErrrorInfo !=''">
                                <span style="margin-left: 25px; color: red;">{{taskTitleErrrorInfo}}</span>
                            </div>
                        </div>

                    </div>

                    <div class="row" style="margin: 20px;">
                        <label style="font-size: 20px;">Description</label>
                        <div class="col-md-6">

                            <div style=" width:530px; height: 250px; background-color: #ecf7fc;">
                                <div class="col-md-12" style="background-color: #134E69D9; height: 40px;">
                                    <label id="details-label" style="padding: left 5px;padding-top: 5px;">Normal
                                        Text</label>
                                </div>
                                <textarea style="width: 530px; height:220px;background-color: #ecf7fc;"
                                    class="form-control" name="taskDescription" #taskDescription="ngModel"
                                    [(ngModel)]="update_Task.taskDescription"
                                    [class.invalid]="taskDescription.invalid && taskDescription.touched"
                                    (keyup)="validateTaskDescription()" placeholder="Enter description !..."></textarea>
                                <div *ngIf="taskDescriptionErrorInfo!=''">
                                    <span id="error_msg">{{taskDescriptionErrorInfo}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-4" style=" width:400px; height: 380px; background-color: #ecf7fc;">
                            <div class="row" style="background-color: #134E69D9;height: 40px;">
                                <label id="details-label" style="padding-top: 5px;">Details</label>
                            </div>
                            <div class="row" id="details-section">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Assignee </td>
                                            <!--<td><span><input type="text"
                                            [(ngModel)]="update_Task.taskOwner" name="taskOwner"></span>
                                        </td>-->
                                            <td>
                                                <div>
                                                    <ng-select class="form-control" [searchable]="true"
                                                        [clearable]="true" id="taskOwner" name="taskOwner"
                                                        (change)="validateTaskOwner()"
                                                        [(ngModel)]="update_Task.taskOwner">
                                                        <ng-option [value]="">choose</ng-option>
                                                        <ng-option [value]="emailId"
                                                            *ngFor="let emailId of userEmailIdList"> {{emailId}}
                                                        </ng-option>
                                                    </ng-select>
                                                </div>
                                                <br>
                                                <div *ngIf="taskOwnerErrorInfo != ''">
                                                    <span style="padding-top: 20px;" id="error_msg">{{taskOwnerErrorInfo}}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="prority">Priority</label></td>
                                            <td><span><select id="priority" class="form-control"
                                                        [(ngModel)]="update_Task.taskPriority" name="taskPriority"
                                                        #taskPriority="ngModel"
                                                        [class.invalid]="taskPriority.invalid && taskPriority.touched"
                                                        (click)="validateTaskPriority()">
                                                        <option value="select">select</option>
                                                        <option>High</option>
                                                        <option>Medium</option>
                                                        <option>Low</option>
                                                    </select></span>
                                                <div *ngIf="taskPriorityErrorInfo!=''">
                                                    <span id="error_msg">{{taskPriorityErrorInfo}}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Start Date</td>
                                            <td><span><input type="datetime-local" min="{{min}}" class="form-control"
                                                        name="taskStartDate" [(ngModel)]="update_Task.startDate"
                                                        #taskStartDate="ngModel" required="true"
                                                        [class.invalid]="taskStartDate.invalid && taskStartDate.touched"
                                                        (click)="validateTaskStartDate()"></span>
                                                <div *ngIf="taskStartDateErrorInfo!=''">
                                                    <span id="error_msg">{{taskStartDateErrorInfo}}</span>
                                                </div>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Due Date </td>
                                            <td><span> <input type="datetime-local" min="{{min}}" class="form-control"
                                                        name="taskDueDate" [(ngModel)]="update_Task.dueDate"
                                                        #taskDueDate="ngModel" required="true"
                                                        [class.invalid]="taskDueDate.invalid && taskDueDate.touched"
                                                        (click)="validateTaskDueDate()"></span>
                                                <div *ngIf="taskDueDateErrorInfo !=''">
                                                    <span id="error_msg">{{taskDueDateErrorInfo}}</span>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Status</td>
                                            <td> <span><select value="Yet to Start" class="form-control"
                                                        name="taskStatus" [(ngModel)]="update_Task.status"
                                                        required="true" #taskStatus="ngModel"
                                                        [class.invalid]="taskStatus.invalid && taskStatus.touched"
                                                        (click)="validateTaskStatus()">
                                                        <option>Select</option>
                                                        <option>Yet to start</option>
                                                        <option>Inprogress</option>
                                                        <option>Completed</option>
                                                    </select>
                                                    <div *ngIf="taskStatusErrorInfo != ''">
                                                        <span id="error_msg">{{taskStatusErrorInfo}}</span>
                                                    </div>
                                                </span></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer" role="alert">
                    <button type="submit" class="btn btn-primary saveButton" (click)="updateTaskDetails(form)"
                        [(ngModel)]="update_Task" [disabled]="isSaveButtonDisabled">Save</button>
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)=" clearErrorMessages(form)">Close</button> -->
                    <button type="button" class="btn btn-outline-danger closeButton" data-dismiss="modal" (click)="clearErrorMessages(form)">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>