<div>
    <app-side-menubar></app-side-menubar>
</div>
<div>
    <app-header [title]="title"></app-header>
</div>
<div class="container-fluid">
    <div class="card-header">
        <div class="row">
            <div id="generalDiv" class="col-sm-2">
                <h4><b>General</b></h4>
                <a routerLink="/batch-report">BatchProcessing Report</a><br/>
            </div>
            <div class="col-sm-2">
                <h4><b>Meetings</b></h4>
                <a routerLink="/meeting-reports" (click)="setMeetingReportType('department')">Department</a><br />
                <a routerLink="/meeting-reports" (click)="setMeetingReportType('employee')">Organized</a><br />
                <a routerLink="/meeting-reports" (click)="setMeetingReportType('attended')">Attended</a><br />
            </div>
            <div class="col-sm-3">
                <h4><b>Action Items</b></h4>
                <a (click)="setActionItemReportType('departments')">Departments</a><br/>
                <a (click)="setActionItemReportType('employees')" >Organized</a><br/>
                <a (click)="setActionItemReportType('severity')">Severity</a><br/>
                <a (click)="setActionItemReportType('priority')">Priority</a><br/>
            </div>
            <div class="col-sm-3">
                <h4><b>Task Items</b></h4>
                <a (click)="setTaskReportType('departments')">Departments</a><br/>
                <a (click)="setTaskReportType('employees')" >Organized</a><br/>
                <a (click)="setTaskReportType('severity')">Severity</a><br/>
                <a (click)="setTaskReportType('status')">Status(priority)</a><br/>
                <a (click)="setTaskReportType('agedtask')">Aged</a>
            </div>
        </div>
        <br /><br/>
        
        <div class="row">
            <div id="automationDiv" class="col-sm-3">
                <h4><b>Task Category</b></h4>

                <div *ngFor = "let taskCategory of taskCategoriesList">
                    <a>{{taskCategory.taskCategoryTitle}}</a>
                </div> 
                <a>Task Category Summary</a>
               
            </div>
           <!--- <div class="col-sm-3">
                <h4><b>Developer Space</b></h4>
                <a>Web Forms</a><br/>
                <a>UMS API</a><br/>
                <a>Connections</a><br/>
            </div>-->
        </div>
    </div>
    <div class="card-body"></div>
    <div class="card-footer"></div>
</div>