<div>
    <app-side-menubar></app-side-menubar>
</div>
<div>
    <app-header [title]="title"></app-header>
</div>
<div class="container-fluid" *ngIf="viewPermission === true">
    <div class="card-header">
        <div class="row">
            <div id="generalDiv" class="col-sm-2">
                <h4><b>General</b></h4>
                <a routerLink="/batch-report">Batch Processing Report</a><br/>
            </div>
            <div class="col-sm-2">
                <h4><b>Meetings</b></h4>
                <!-- <a routerLink="/meeting-reports" (click)="setMeetingReportType('department')">Department</a><br /> -->
                <a routerLink="/meeting-reports" (click)="setMeetingReportType('employee')">Organized</a><br />
                <a routerLink="/meeting-reports" (click)="setMeetingReportType('attended')">Attended</a><br />
                <a routerLink="/meeting-reports" (click)="setMeetingReportType('all')">All Departments</a><br />
            </div>
            <div class="col-sm-2">
                <h4><b>Action Items</b></h4>
                <!-- <a routerLink="/actionitem-reports" (click)="setActionItemReportType('department')">Departments</a><br/> -->
                <a routerLink="/actionitem-reports" (click)="setActionItemReportType('organized')" >Organized</a><br/>
                <a routerLink="/actionitem-reports" (click)="setActionItemReportType('priority')">Priority</a><br/>
                <a routerLink="/actionitem-reports" (click)="setActionItemReportType('all')">All Departments</a><br />
            </div>
            <div class="col-sm-2">
                <h4><b>Tasks</b></h4>
                <!-- <a routerLink="/task-reports"  (click)="setTaskReportType('department')">Departments</a><br/> -->
                <a routerLink="/task-reports"  (click)="setTaskReportType('organized')" >Organized</a><br/>
                <a routerLink="/task-reports"  (click)="setTaskReportType('severity')">Severity</a><br/>
                <a routerLink="/task-reports"  (click)="setTaskReportType('status')">Priority</a><br/>
                <a routerLink="/task-reports"  (click)="setTaskReportType('aged')">Aged</a><br/>
                <a routerLink="/task-reports"  (click)="setTaskReportType('all')">All Departments</a>
            </div>
        </div>
        <br /><br/>
        <div class="row">
            <div id="automationDiv" class="col-sm-2">
                <h4><b>Task Category</b></h4>

                <div *ngFor = "let taskCategory of taskCategoriesList">
                    <a routerLink="/taskcategory-report" (click)="setTaskCategoryType(taskCategory.taskCategoryTitle,taskCategory.taskCategoryId)">{{taskCategory.taskCategoryTitle}}</a>
                </div> 
                <a routerLink="/taskcategory-report" (click)="setTaskCategoryType('all',0)">Task Category Summary</a>
               
            </div>
           <!--- <div class="col-sm-3">
                <h4><b>Developer Space</b></h4>
                <a>Web Forms</a><br/>
                <a>UMS API</a><br/>
                <a>Connections</a><br/>
            </div>-->
        </div>
    </div>
    <div class="card-body"></div>
    <div class="card-footer"></div>
</div>

<div class="container-fluid" *ngIf="viewPermission===false">
    <h2 style="text-align: center;margin-top: 120px;">You dont have permission to view this page</h2>
  </div>
  <!-- <div class="container-fluid" *ngIf="noPermissions===true">
    <h2 style="text-align: center;margin-top: 120px;">Contact admin to get access for this page</h2>
</div> -->
