<div>
    <app-side-menubar></app-side-menubar>
</div>
<div>
    <app-header [title]="title"></app-header>
</div>

<div class="container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-5">
                <h3 id="heading">Role Menu Items</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <table id="dataTable" class="table table-hover">
                <thead id="thead">
                    <tr>
                        <!-- <th>
                            <input type="checkbox" id="mainCheckBox" />
                        </th> -->
                        <th>Role ID</th>
                        <th style="width: 80px;">Role Name</th>
                        <th>Permissions</th>
                        <th>Menu Items</th>
                        <th>Created By</th>
                        <th>Created Date</th>
                        <th>Modified By</th>
                        <th>Modified Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="isRoleDataText===false">
                    <tr class="trbody" *ngFor="let role of roleList; let i=index">
                        <!-- <td>
                            <input type="checkbox" id="subCheckBox{{i}}" class="subCheckBox" value="{{role.roleId}}"
                                (click)="toggleMainCheckBox(i)" />
                        </td> -->
                        <td>{{role.roleId}}</td>
                        <td id="role-subject">{{role.roleName | uppercase}}</td>
                        <td>{{role.permission.permissionValue}}</td>
                        <td class="wordWrap" style="width: 140px;">
                            <span *ngFor="let menuItem of role.menuItems; let j = index">
                                <span *ngIf="menuItem.menuItemName != ''">{{menuItem.menuItemName}}{{j === role.menuItems.length - 1 ? '' : ', '}}</span>
                                <span *ngIf="menuItem.menuItemName === ''">No menu items for this role</span>
                            </span>
                        </td>
                        <td>{{role.createdBy | titlecase}}</td>
                        <td>{{role.createdDateTime|date:'MMM d, y, h:mm a'}}</td>
                        <td>{{role.modifiedBy | titlecase}}</td>
                        <td>{{role.modifiedDateTime |date:'MMM d, y, h:mm a'}}</td>
                        <td id="addMenuItem" (click)="getRoleById(role.roleId)" data-target="#updateModal" data-toggle="modal">
                            <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.5 2C7.596 2 2 7.596 2 14.5C2 21.404 7.596 27 14.5 27C21.404 27 27 21.404 27 14.5C27 7.596 21.404 2 14.5 2ZM21 15.5H15.5V21C15.5 21.2652 15.3946 21.5196 15.2071 21.7071C15.0196 21.8946 14.7652 22 14.5 22C14.2348 22 13.9804 21.8946 13.7929 21.7071C13.6054 21.5196 13.5 21.2652 13.5 21V15.5H8C7.73478 15.5 7.48043 15.3946 7.29289 15.2071C7.10536 15.0196 7 14.7652 7 14.5C7 14.2348 7.10536 13.9804 7.29289 13.7929C7.48043 13.6054 7.73478 13.5 8 13.5H13.5V8C13.5 7.73478 13.6054 7.48043 13.7929 7.29289C13.9804 7.10536 14.2348 7 14.5 7C14.7652 7 15.0196 7.10536 15.2071 7.29289C15.3946 7.48043 15.5 7.73478 15.5 8V13.5H21C21.2652 13.5 21.5196 13.6054 21.7071 13.7929C21.8946 13.9804 22 14.2348 22 14.5C22 14.7652 21.8946 15.0196 21.7071 15.2071C21.5196 15.3946 21.2652 15.5 21 15.5Z" fill="black"/>
                                </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Update Role-Menu Modal -->
<div class="modal" tabindex="-1" id="updateModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header" id="modalHeader">
                <h5 class="modal-title">Assign Menu Items For Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white; padding: 5px; padding-top: 0px;" (click)="clearErrorMessages()">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div>
                    <label><b>Role Name</b><span id="required">*</span></label>
                    <input type="text" id="roleName" style="text-transform: uppercase;" class="deptInput form-control"
                        placeholder="Role name" [(ngModel)]="existingRole.roleName"
                        minlength="3" maxlength="50"  disabled="true"/><br />
                    <!-- <span id="errorInfo" *ngIf="updatedRoleNameErrorInfo != ''">{{updatedRoleNameErrorInfo}}</span> -->
                </div>
                <div>
                    <label><b>Choose Menu Items</b><span id="required">*</span><span style="font-size: 13px;"></span></label><br/>
                    <!-- <select id="menuItemsBox" ng-multiple="true" multiple [(ngModel)]="menuItemIds" class="form-control-sm" placeholder="choose menuItems">
                        <option *ngFor="let menuItem of menuItemList" value={{menuItem.menuItemId}}>{{menuItem.menuItemName}}</option>
                    </select> -->
                <!-- <select id="menuItemsBox" style="width:400px;" multiple ng-multiple="true"
                    ng-model="menuItemIds"
                    ng-options="sort.menuItem as sort.menuItem for sort in menuItemList | unique : 'menuItem'">
                    <option *ngFor="let menuItem of menuItemList" value="{{menuItem.menuItemId}}">{{menuItem.menuItemName}}</option>
                </select> -->
                <div *ngFor="let menuItem of menuItemList;let i = index">
                    <input #checkboxes id="menuItems" class="menuItems" name="menuItems" type="checkbox" value="{{menuItem.menuItemId}}" (change)="storeSelectedMenuItems($event,i)"/>{{menuItem.menuItemName}}
                </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="updateRoleWithMenuItems()">Save</button>
                <button id="closeUpdateModal" type="button" class="btn btn-outline-danger" data-dismiss="modal"
                   (click)="clearErrorMessages()" >Close</button>
            </div>
        </div>
    </div>
</div>
