<div>
    <app-side-menubar></app-side-menubar>
</div>
<div>
    <app-header [title]="title"></app-header>
</div>
<div style="text-align: center;" *ngIf="viewPermission === true">
    <p style="padding-top: 250px; font-size: 50px; padding-left: 40px;" >This page is under implementation</p>
</div>
<div class="container-fluid" *ngIf="viewPermission === false">
    <h2 style="text-align: center;margin-top: 120px;">You dont have permission to view this page</h2>
</div>
<div class="container-fluid" *ngIf="noPermissions===true">
    <h2 style="text-align: center;margin-top: 120px;">Contact admin to get access for this page</h2>
</div>
