/*common properties*/

.container-fluid{
    padding-top: 10px;
    padding-left:140px;
    padding-right: 32px;
    background: #F6FBFD;
    display: flex;
    justify-content: center;
    align-items: center;
}
#svgOpacity{
  fill: lightblue;
}

.card-header{

    background-color: #134E69D9;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;

}
#heading{
    color: #F6FBFD;
    padding-top: 8px;
}

.card-body {
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
}

#thead {
    background: var(--side-text, #ECF7FC);
}

#tablehead{
    background: var(--side-text, #ECF7FC);
}

/*common properties end*/

#companyLogo{
    padding-left: 100px;
}

.verticalLine{
    border-left: 1px solid black;
    height: 600px;
}
.fa-pencil {
    color: #4880FF;
    border: none;
    background-color: #fff;
    padding-bottom: 10px;

}
div#adjustTextBox{
    padding-left: 40px;
}
label#adjustTextBox{
    padding-left: 20px;
}

#errorMessage{
    color: red;
    font-size: 12px;
    padding-left: 0px;
    margin-bottom: 0px;
}
#orgNameId p {
  margin-top: 0;
  margin-bottom: 0.48rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#required{
    color: red;
    padding-left: 3px;
    font-size: 19px;
    padding-right: 2px;
}
input[type='file'] {
    color: transparent;

}
#file-input{
    display: none;
    
}


#file-input-label {
    font-size: 1.3em;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 4%;
}
.image-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 1px solid black;
}

.image-preview {
    width: 210px;
    height: 210px;
}

.upload-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;  /* Customize the text color */
    font-size: 16px;  /* Customize the font size */
    display: none;
}

.image-container:hover .upload-text {
    display: block;
    cursor: pointer;
    justify-content: center;
}

.image-container:hover .image-preview {
    filter: blur(3px); /* Apply blur on hover */
}

#dial-code-input{
    width: 70px;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 3px;
    height: 36px;
    margin-top: 1px;
}

/* CSS for loader symbol */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  color: #2AA3D9;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #30D64B;
    transform: rotateY(70deg);
    animation-delay: .3s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: none;
  padding: 5px;
  /* background-color: rgb(221, 30, 30); */
  /* border-radius: 50%; */
  /* border: 1px solid #ccc; */
  color: red;
  font-size: 14px;
  z-index: 1;
}

.image-container:hover .delete-icon {
  display: block;
  
}

.companyDetails{
  display: flex;
  flex-direction: row;
}

.numberFieldFormat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
