/*common properties*/

.container-fluid{
    padding-top: 10px;
    padding-left:140px;
    padding-right: 32px;
    background: #F6FBFD;

}

.card-header{

    background-color: #134E69D9;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;

}
#heading{
    color: #F6FBFD;
    padding-top: 8px;
}

.card-body {
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
}

#thead {
    background: var(--side-text, #ECF7FC);
}

#tablehead{
    background: var(--side-text, #ECF7FC);
}

/*common properties end*/

#companyLogo{
    padding-left: 100px;
}

.verticalLine{
    border-left: 1px solid black;
    height: 600px;
}