/*common properties*/

.container-fluid{
    padding-top: 10px;
    padding-left:140px;
    padding-right: 32px;
    background: #F6FBFD;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-header{

    background-color: #134E69D9;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;

}
#heading{
    color: #F6FBFD;
    padding-top: 8px;
}

.card-body {
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
}

#thead {
    background: var(--side-text, #ECF7FC);
}

#tablehead{
    background: var(--side-text, #ECF7FC);
}

/*common properties end*/

#companyLogo{
    padding-left: 100px;
}

.verticalLine{
    border-left: 1px solid black;
    height: 600px;
}
.fa-pencil {
    color: #4880FF;
    border: none;
    background-color: #fff;
    padding-bottom: 10px;

}
div#adjustTextBox{
    padding-left: 40px;
}
label#adjustTextBox{
    padding-left: 20px;
}

#errorMessage{
    color: red;
    font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#required{
    color: red;
    padding-left: 3px;
    font-size: 19px;
    padding-right: 2px;
}
input[type='file'] {
    color: transparent;

}
#file-input{
    display: none;
    
}


#file-input-label {
    font-size: 1.3em;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 4%;
}
.image-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.image-preview {
    width: 210px;
    height: 210px;
}

.upload-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;  /* Customize the text color */
    font-size: 16px;  /* Customize the font size */
    display: none;
}

.image-container:hover .upload-text {
    display: block;
    cursor: pointer;
    justify-content: center;
}
