@media screen and (min-width:480px){}

.container-fluid {
    padding-top: 10px;
    padding-left:120px;
    padding-right: 32px;
    padding-bottom: 20px;
  }

.card-header{

    background-color: #134E69D9;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;

}
#heading{
    color: #F6FBFD;
    padding-top: 8px;
}

.card-body {
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
}

#thead {
    background: var(--side-text, #ECF7FC);
}

#tablehead{
    background: var(--side-text, #ECF7FC);
}



table tr th {
    font-size: 11px;
    background-color: #134E69D9;
    color: whitesmoke;
}

table tr td {
    font-size: 11px;
    /* background-color: #134E69D9; */
}

#reportheading{
    color: whitesmoke;
}
#chartHeading{
    display: flex;
    justify-content: space-between;
}

a{
    cursor: pointer;
    
  }
 
  #chartType{
    display: flex;
    justify-content: space-between;
  }