<div>
    <app-side-menubar></app-side-menubar>
</div>
<div>
    <app-header [title]="title" id="header"></app-header>
</div>

<div class="container-fluid">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-5">
                <h3 id="heading">Action Item List</h3>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-3" style="padding-top: 3px; ">
                <input type="search" class="form-control" placeholder="Search action Item title" />
            </div>
            <!---- <div class="col-sm-1" style="padding-top: 11px;"><button id="add_button"type="btn btn-primary" (click)="addActionItems()"
                    data-toggle="modal" data-target="#myModal_add">Add</button></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-sm-1" style="padding-top: 10px;"><button id="delete_button" type="btn btn-primary"
                    (click)="checkCheckBoxes()">Delete</button>
            </div>-->

        </div>
    </div>
    <div class="row" style="margin: 10px;">
        <table class="table table-hover" id="myTable" style="margin: 0px;">
            <thead class="header" style="background-color: #ecf7fc;">
               <!---<th style="padding-left: 23px;"><input type="checkbox" class="box" style="margin: 0px;"></th>-->
                <th>Action Item ID</th>
                <th style="width: 140px;">Title</th>
                <th>Owner</th>
                <th>Start Date & Time</th>
                <th>End Date & Time</th>
                <th>Status</th>
                <!--<th>Actions</th>-->
                <th>Tasks</th>
                <!-- <th></th> -->

            </thead>
            <tbody *ngFor="let actionItem of actionItems, let i = index">
                <tr *ngIf="actionItem.actionStatus === 'Converted'">
                   <!-- <td><input type="checkbox" class="checkbox" id="modal_checkbox" style="padding-top:10px;"
                            value="{{actionItem.actionItemId}}"></td>-->
                    <!--<td>{{actionItem.actionItemId}}</td>-->
                    <td>A000{{actionItem.actionItemId}}</td>
                    <td id="actionItem-subject">{{actionItem.actionItemTitle}}</td>
                    <td>{{actionItem.actionItemOwner}}</td>
                    <td>{{actionItem.startDate|date:'MMM d, y, h:mm a'}}</td>
                    <td>{{actionItem.endDate|date:'MMM d, y, h:mm a'}}</td>
                    <td>{{actionItem.actionStatus}}</td>
                    <!-- edit btn -->
                    <!--<td><button (click)="editData(actionItem.id)"  data-toggle="modal" data-target="#myModal">edit</button>&nbsp;<button (click)="deleteData(actionItem.id)">delete</button>-->
                        <!-- <span *ngIf="actionItem.actionStatus==='NotConverted'" class="edit-icon" 
                        (click)="editData(actionItem.actionItemId)"
                        (click)="getActiveUMSUsersEmailIdList()" data-toggle="modal"
                            data-target="#myModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                fill="none">
                                <g id="edit">
                                    <path id="Vector"
                                        d="M2.5 14.3761V17.5007H5.62543L14.8475 8.28116L11.7221 5.15659L2.5 14.3761ZM17.2562 5.87316C17.5813 5.54821 17.5813 5.01911 17.2562 4.69416L15.3101 2.7486C14.9851 2.42364 14.4558 2.42364 14.1308 2.7486L12.6056 4.27339L15.731 7.39795L17.2562 5.87316Z"
                                        fill="#5590AA" />
                                </g>
                            </svg>
                        </span> -->
                        <!-- <span *ngIf="actionItem.actionStatus==='Converted'" aria-disabled="true" class="edit-icon"
                            data-toggle="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                fill="none">
                                <g id="edit">
                                    <path id="Vector"
                                        d="M2.5 14.3761V17.5007H5.62543L14.8475 8.28116L11.7221 5.15659L2.5 14.3761ZM17.2562 5.87316C17.5813 5.54821 17.5813 5.01911 17.2562 4.69416L15.3101 2.7486C14.9851 2.42364 14.4558 2.42364 14.1308 2.7486L12.6056 4.27339L15.731 7.39795L17.2562 5.87316Z"
                                        fill="#D3D3D3" />
                                </g>
                            </svg>
                        </span> -->
                    
                    <!-- delete btn -
                        <span class="delete-icon" style="padding-top:px;padding-left: 20px;" (click)="deleteData(actionItem.actionItemId)"
                            data-toggle="modal" data-target="#myModal_del">

                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                fill="#000000" version="1.1" id="Capa_1" width="15px" height="15px"
                                viewBox="0 0 482.428 482.429" xml:space="preserve">
                                <g>
                                    <g>
                                        <path
                                            d="M381.163,57.799h-75.094C302.323,25.316,274.686,0,241.214,0c-33.471,0-61.104,25.315-64.85,57.799h-75.098    c-30.39,0-55.111,24.728-55.111,55.117v2.828c0,23.223,14.46,43.1,34.83,51.199v260.369c0,30.39,24.724,55.117,55.112,55.117    h210.236c30.389,0,55.111-24.729,55.111-55.117V166.944c20.369-8.1,34.83-27.977,34.83-51.199v-2.828    C436.274,82.527,411.551,57.799,381.163,57.799z M241.214,26.139c19.037,0,34.927,13.645,38.443,31.66h-76.879    C206.293,39.783,222.184,26.139,241.214,26.139z M375.305,427.312c0,15.978-13,28.979-28.973,28.979H136.096    c-15.973,0-28.973-13.002-28.973-28.979V170.861h268.182V427.312z M410.135,115.744c0,15.978-13,28.979-28.973,28.979H101.266    c-15.973,0-28.973-13.001-28.973-28.979v-2.828c0-15.978,13-28.979,28.973-28.979h279.897c15.973,0,28.973,13.001,28.973,28.979    V115.744z" />
                                        <path
                                            d="M171.144,422.863c7.218,0,13.069-5.853,13.069-13.068V262.641c0-7.216-5.852-13.07-13.069-13.07    c-7.217,0-13.069,5.854-13.069,13.07v147.154C158.074,417.012,163.926,422.863,171.144,422.863z" />
                                        <path
                                            d="M241.214,422.863c7.218,0,13.07-5.853,13.07-13.068V262.641c0-7.216-5.854-13.07-13.07-13.07    c-7.217,0-13.069,5.854-13.069,13.07v147.154C228.145,417.012,233.996,422.863,241.214,422.863z" />
                                        <path
                                            d="M311.284,422.863c7.217,0,13.068-5.853,13.068-13.068V262.641c0-7.216-5.852-13.07-13.068-13.07    c-7.219,0-13.07,5.854-13.07,13.07v147.154C298.213,417.012,304.067,422.863,311.284,422.863z" />
                                    </g>
                                </g>
                            </svg>
                        </span>
                    </td>-->
                    <td><a class="showmore" (click)="ViewTaskDetails()">Show</a></td>
                </tr>
                <tr class="detail">
                    <td colspan="12">
                        <div>
                            <table class="table table-hover">
                                <thead>
                                    <th id="tablehead">Task ID</th>
                                    <th id="tablehead" style="width: 170px;">Task Title</th>
                                    <th id="tablehead" style="width: 170px;">Action Item</th>
                                    <th id="tablehead">Assignees</th>
                                    <th id="tablehead">Start Date & Time</th>
                                    <th id="tablehead">Due Date & Time</th>
                                    <th id="tablehead">Priority</th>
                                    <th id="tablehead">Status</th>
                                </thead>
                                <tbody *ngFor="let element of task_array">
                                    <tr *ngIf="actionItem.actionItemId == element.actionItemId">
                                        <td>T000{{i+1}}</td>
                                        <td id="actionItem-subject">{{element.taskTitle}}</td>
                                        <td id="actionItem-subject">{{element.taskDescription}}</td>
                                        <td>{{element.taskOwner}}</td>
                                        <td>{{element.startDate|date:'MMM d, y, h:mm a'}}</td>
                                        <td>{{element.dueDate|date:'MMM d, y, h:mm a'}}</td>
                                        <td>{{element.taskPriority}}</td>
                                        <td>{{element.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div>
        <ng-template #noMeetings>
            <table class="table table-hover">
                <thead id="thead">
                    <th>Id</th>
                    <th>Title</th>
                    <th>Organizer</th>
                    <th>StartDate & Time</th>
                    <th>EndDate & Time</th>
                </thead>
            </table>
            <p id="no-meetings">No Action Items Yet ! </p>
        </ng-template>
    </div>
</div>
<!--Modal for update-->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" style="margin: 10px;">
            <!--Modal Header-->
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: center;">UpdateActionItem</h4>
            </div>
            <br>
            <label>ActionItem Title</label>
            <input type="text" style="width: 400px;" [(ngModel)]="updatedetails.actionItemTitle" required="true"
                name="uAcItemTitle" id="uAcItemTitle" minlength="5" maxlength="500" #uAcItemTitle="ngModel"
                [class.invalid]="uAcItemTitle.invalid && uAcItemTitle.touched" 
                (keyup)="validateUpdateActionTitle()">
            <div *ngIf="updateActionItemTitleErrorInfo != ''">
                <span id="errorSpan">{{updateActionItemTitleErrorInfo}}</span>
            </div>
            <label>ActionItem Description</label>
            <input type="text" style="width:400px;" [(ngModel)]="updatedetails.actionItemDescription" required="true"
                name="uAcItemDesc" id="uAcItemDesc" minlength="5" maxlength="1000" #uAcItemDesc="ngModel"
                [class.invalid]="uAcItemDesc.invalid && uAcItemDesc.touched"
                (keyup)="validateUpdateActionDescription()">
            <div *ngIf="updateActionItemDescErrorInfo != ''">
                <span id="errorSpan">{{updateActionItemDescErrorInfo}}</span>
            </div>
            <!--<textarea style="margin:10px; width: 400px; ">{{this.updatedetails.Description}}</textarea>-->
            <label>Priority</label>
            <select id="priority" style="width: 400px;" [(ngModel)]="updatedetails.actionPriority" required="true"
                id="actionItemPriority" name="uAcPriority" #uAcPriority="ngModel" 
                [class.invalid]="uAcPriority.invalid && uAcPriority.touched"
                (click)="validateUpdateActionPriority()">
                <option>select</option>
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
            </select>
            <div *ngIf="updateActionItemPriorityErrorInfo != ''">
                <span id="errorSpan">{{updateActionItemPriorityErrorInfo}}</span>
            </div>
            <label>Action Owner</label>
            <div style="padding-left: 10px;">
                <ng-select class="form-control" [searchable]="true" [clearable]="true" id="actionItemOwner"
                    name="actionItemOwner" style="width: 400px;" (change)="validateUpdateActionItemOwner()"
                    [(ngModel)]="updatedetails.actionItemOwner">
                    <ng-option [value]="">choose</ng-option>
                    <ng-option [value]="emailId" *ngFor="let emailId of userEmailIdList">
                        {{emailId}}
                    </ng-option>
                </ng-select>
            </div>
            <div *ngIf="updateActionItemOwnerErrorInfo != '' || updateActionItemOwnerErrorInfo==null">
                <span id="errorSpan">{{updateActionItemOwnerErrorInfo}}</span>
            </div>
            <!--- <input type="text" style="width:400px;" [(ngModel)]="updatedetails.actionPriority">-->
            <label>StartDate</label>
            <input type="datetime-local" style="width:400px;" [(ngModel)]="updatedetails.startDate" required="true"
                id="uAcItemStartDate" name="uAcItemStartDate" #uAcItemStartDate="ngModel"
                [class.invalid]="uAcItemStartDate.invalid && uAcItemStartDate.touched"
                (change)="validateUpdateActionStartDate()">
            <div *ngIf="updateActionItemStartDateErrorInfo != ''">
                <span id="errorSpan">{{updateActionItemStartDateErrorInfo}}</span>
            </div>
            <label>EndDate</label>
            <input type="datetime-local" style="width:400px;" [(ngModel)]="updatedetails.endDate" required="true"
                id="uAcItemEndDate" name="uAcItemEndDate" #uAcItemEndDate="ngModel"
                [class.invalid]="uAcItemEndDate.invalid && uAcItemEndDate.touched"
                (change)="validateUpdateActionEndDate()">
            <div *ngIf="updateActionItemEndDateErrorInfo != ''">
                <span id="errorSpan">{{updateActionItemEndDateErrorInfo}}</span>
            </div>

            <!--footer-->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" (click)="updateActionItem(form)"
                    [(ngModel)]="updatedetails">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- action item add modal -->
<div>
    <!-- add modal -->
    <div class="modal" id="myModal_add">
        <div class="modal-dialog">
            <div class="modal-content" style="margin: 10px;margin: 70px;">
                <!--Modal Header-->
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center;">Add Action Item</h4>
                </div>
                <br>
                <form #form="ngForm" method="POST">
                    <label><b>ActionItem Title</b></label>
                    <input type="text" class="form-control" style="width: 400px;padding-top: 10px;"
                        [(ngModel)]="addDetails.actionItemTitle" required="true" name="actionItemTitle"
                        id="actionItemTitle" minlength="5" maxlength="500" #actionItemTitle="ngModel"
                        [class.invalid]="actionItemTitle.invalid && actionItemTitle.touched"
                        (keyup)="validateActionTitle()">
                    <div *ngIf="actionItemTitleErrorInfo != ''">
                        <span id="errorSpan">{{actionItemTitleErrorInfo}}</span>
                    </div>
                    <!-- title end -->
                    <label><b>ActionItem Description</b></label>
                    <input type="text" class="form-control" style="width:400px;"
                        [(ngModel)]="addDetails.actionItemDescription" required="true" name="actionItemDescription"
                        #actionItemDescription="ngModel" minlength="10" maxlength="1000" id="actionItemDescription"
                        [class.invalid]="actionItemDescription.invalid && actionItemDescription.touched"
                        (keyup)="validateActionDescription()">
                    <div *ngIf="actionItemDescriptionErrorInfo != ''">
                        <span id="errorSpan">{{actionItemDescriptionErrorInfo}}</span>
                    </div>
                    <!-- description end -->
                    <!--<textarea style="margin:10px; width: 400px; ">{{this.updatedetails.Description}}</textarea>-->
                    <label for="priority"><b>Priority</b></label>
                    <select id="priority" class="form-control" style="width: 400px;"
                        [(ngModel)]="addDetails.actionPriority" required="true" name="actionPriority"
                        #actionPriority="ngModel" [class.invalid]="actionPriority.invalid && actionPriority.touched"
                        id="actionItemPriority" (click)="validateActionPriority()">
                        <option>select</option>
                        <option>Low</option>
                        <option>Medium</option>
                        <option>High</option>
                    </select>
                    <div *ngIf="actionItemPriorityErrorInfo != ''">
                        <span id="errorSpan">{{actionItemPriorityErrorInfo}}</span>
                    </div>
                    <!-- priority end -->
                    <label style="padding-bottom: 10px;"><b>Action Owner</b></label>
                    <div style="padding-left: 10px;">
                        <ng-select class="form-control" [searchable]="true" [clearable]="true" id="actionItemOwner"
                            name="actionItemOwner" style="width: 400px;" (change)="validateActionItemOwner()"
                            [(ngModel)]="addDetails.actionItemOwner">
                            <ng-option [value]="">choose</ng-option>
                            <ng-option [value]="emailId" *ngFor="let emailId of userEmailIdList">
                                {{emailId}}
                            </ng-option>
                        </ng-select>
                    </div>
                    <div *ngIf="actionItemOwnerErrorInfo != '' || actionItemOwnerErrorInfo==null">
                        <span id="errorSpan">{{actionItemOwnerErrorInfo}}</span>
                    </div>
                    <!--<input type="text" style="width:400px;" [(ngModel)]="addDetails.actionPriority">-->
                    <label><b>StartDate</b></label>
                    <input type="datetime-local" class="form-control" style="width:400px;"
                        [(ngModel)]="addDetails.startDate" required="true" id="actionItemStartDate" name="startDate"
                        #startDate="ngModel" [class.invalid]="startDate.invalid && startDate.touched"
                        (change)="validateActionStartDate()">
                    <div *ngIf="actionItemStartDateErrorInfo != ''">
                        <span id="errorSpan">{{actionItemStartDateErrorInfo}}</span>
                    </div>
                    <label><b>EndDate</b></label>
                    <input type="datetime-local" class="form-control" style="width:400px;"
                        [(ngModel)]="addDetails.endDate" required="true" id="actionItemEndDate" name="endDate"
                        #endDate="ngModel" [class.invalid]="endDate.invalid && endDate.touched"
                        (change)="validateActionEndDate()">
                    <div *ngIf="actionItemEndDateErrorInfo != ''">
                        <span id="errorSpan">{{actionItemEndDateErrorInfo}}</span>
                    </div>
                    <!--footer-->
                    <div class="modal-footer" role="alert">
                        <button type="submit" class="btn btn-success" (click)="saveActionItem(form)">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal"
                            (click)="clearErrorMessages(form)">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>