<body>
  <!-- <div>
    <app-side-menubar (componentToOpen)="onSelectedOptionChange($event)"></app-side-menubar>
  </div>
    <div>
      <app-header id="header"></app-header>
    </div>
    <div id="homepage-body" *ngIf="selectedOption === 'Meetings'">
      <app-meetings></app-meetings>
    </div> -->
  <div>
    <app-side-menubar></app-side-menubar>
  </div>
  <div>
    <app-header [title]="title" id="header"></app-header>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div id="cardRow" class="row">
            <div class="col-sm-8">
              <p>Total Meetings Organized
              </p>
            </div>
            <div class="col-sm-4">
              <span id="totalMeetingsIcon" style="padding-left: 20px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                  <path
                    d="M9.375 25.5375H17.625V23.2875H9.375V25.5375ZM13.875 19.125H22.125V16.875H13.875V19.125ZM18.375 12.7125H26.625V10.4625H18.375V12.7125ZM6.75 31.5C6.15 31.5 5.625 31.275 5.175 30.825C4.725 30.375 4.5 29.85 4.5 29.25V6.75C4.5 6.15 4.725 5.625 5.175 5.175C5.625 4.725 6.15 4.5 6.75 4.5H29.25C29.85 4.5 30.375 4.725 30.825 5.175C31.275 5.625 31.5 6.15 31.5 6.75V29.25C31.5 29.85 31.275 30.375 30.825 30.825C30.375 31.275 29.85 31.5 29.25 31.5H6.75ZM6.75 29.25H29.25V6.75H6.75V29.25Z"
                    fill="#606060" />
                </svg>
              </span>
            </div>
          </div>
          <div class="row" id="cardRow">
            <div class="col-sm-12">
              <p> {{organizedMeetingsCount}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- col-3-end -->
      <div class="col-sm-4">
        <div class="card">
          <div class="row" id="cardRow">
            <div class="col-sm-8">
              <p>Total Attended Meetings
              </p>
            </div>
            <div class="col-sm-4">
              <span id="totalMeetingsIcon" style="padding-left: 20px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                  <path
                    d="M9.375 25.5375H17.625V23.2875H9.375V25.5375ZM13.875 19.125H22.125V16.875H13.875V19.125ZM18.375 12.7125H26.625V10.4625H18.375V12.7125ZM6.75 31.5C6.15 31.5 5.625 31.275 5.175 30.825C4.725 30.375 4.5 29.85 4.5 29.25V6.75C4.5 6.15 4.725 5.625 5.175 5.175C5.625 4.725 6.15 4.5 6.75 4.5H29.25C29.85 4.5 30.375 4.725 30.825 5.175C31.275 5.625 31.5 6.15 31.5 6.75V29.25C31.5 29.85 31.275 30.375 30.825 30.825C30.375 31.275 29.85 31.5 29.25 31.5H6.75ZM6.75 29.25H29.25V6.75H6.75V29.25Z"
                    fill="#606060" />
                </svg>
              </span>
            </div>
          </div>
          <div class="row" id="cardRow">
            <div class="col-sm-12">
              <p> {{attendedMeetingsCount}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- col-3-end -->
      <div class="col-sm-4">
        <div class="card">
          <div class="row" id="cardRow">
            <div class="col-sm-8">
              <p>Total Tasks Assigned
              </p>
            </div>
            <div class="col-sm-4">
              <span id="totalMeetingsIcon" style="padding-left: 20px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                  <path
                    d="M9.375 25.5375H17.625V23.2875H9.375V25.5375ZM13.875 19.125H22.125V16.875H13.875V19.125ZM18.375 12.7125H26.625V10.4625H18.375V12.7125ZM6.75 31.5C6.15 31.5 5.625 31.275 5.175 30.825C4.725 30.375 4.5 29.85 4.5 29.25V6.75C4.5 6.15 4.725 5.625 5.175 5.175C5.625 4.725 6.15 4.5 6.75 4.5H29.25C29.85 4.5 30.375 4.725 30.825 5.175C31.275 5.625 31.5 6.15 31.5 6.75V29.25C31.5 29.85 31.275 30.375 30.825 30.825C30.375 31.275 29.85 31.5 29.25 31.5H6.75ZM6.75 29.25H29.25V6.75H6.75V29.25Z"
                    fill="#606060" />
                </svg>
              </span>
            </div>
          </div>
          <div class="row" id="cardRow">
            <div class="col-sm-12">
              <p> {{assignedTasksCount}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- col-3-end -->
    </div>
    <br/>
    <!-- row -->
    <div class="row">
      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <div id="divChart">
              <b>Tasks</b>
              <ng-select [style.background-color]="'#ECF7FC'" [(ngModel)]="selectedOption" (change)="onSelectChange()" style="float: right; width: 150px;">
                <ng-option value="Week">Week</ng-option>
                <ng-option value="months">Months</ng-option>
              </ng-select>
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <div id="divChart">
              <b>Meetings</b>
              <ng-select [(ngModel)]="selectedOption2" (change)="onSelectChange2()" style="float: right; width: 150px;">
                <ng-option value="Week">Week</ng-option>
                <ng-option value="months">Months</ng-option>
              </ng-select>
              <canvas id="myChart2"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    &nbsp;
  </div>
 

</body>
<!-- <div class="navbar">
          <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
          <button (click)="checkDemo()">DEMO</button>
      </div> -->