  <body>
  <!-- <div>
    <app-side-menubar (componentToOpen)="onSelectedOptionChange($event)"></app-side-menubar>
  </div>
    <div>
      <app-header id="header"></app-header>
    </div>
    <div id="homepage-body" *ngIf="selectedOption === 'Meetings'">
      <app-meetings></app-meetings>
    </div> -->
  <div>
    <app-side-menubar></app-side-menubar>
  </div>
  <div>
    <app-header [title]="title" id="header"></app-header>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="card" style="width: 300px;margin-left: 20px;">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <p>Total Meetings Organized
              </p>
            </div>
            <div class="col-3">
              <span id="totalMeetingsIcon" style="padding-left: 20px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                  <path
                    d="M9.375 25.5375H17.625V23.2875H9.375V25.5375ZM13.875 19.125H22.125V16.875H13.875V19.125ZM18.375 12.7125H26.625V10.4625H18.375V12.7125ZM6.75 31.5C6.15 31.5 5.625 31.275 5.175 30.825C4.725 30.375 4.5 29.85 4.5 29.25V6.75C4.5 6.15 4.725 5.625 5.175 5.175C5.625 4.725 6.15 4.5 6.75 4.5H29.25C29.85 4.5 30.375 4.725 30.825 5.175C31.275 5.625 31.5 6.15 31.5 6.75V29.25C31.5 29.85 31.275 30.375 30.825 30.825C30.375 31.275 29.85 31.5 29.25 31.5H6.75ZM6.75 29.25H29.25V6.75H6.75V29.25Z"
                    fill="#606060" />
                </svg>
              </span>
            </div>
          </div>
          {{organizedMeetingsCount}}
        </div>
      </div>
      <div class="card" style="width: 300px;margin-left: 20px;">
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <p>Total Meetings Attended</p>
            </div>
            <div class="col-3">
              <span id="totalMeetingsIcon" style="padding-left: 20px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                  <path
                    d="M9.375 25.5375H17.625V23.2875H9.375V25.5375ZM13.875 19.125H22.125V16.875H13.875V19.125ZM18.375 12.7125H26.625V10.4625H18.375V12.7125ZM6.75 31.5C6.15 31.5 5.625 31.275 5.175 30.825C4.725 30.375 4.5 29.85 4.5 29.25V6.75C4.5 6.15 4.725 5.625 5.175 5.175C5.625 4.725 6.15 4.5 6.75 4.5H29.25C29.85 4.5 30.375 4.725 30.825 5.175C31.275 5.625 31.5 6.15 31.5 6.75V29.25C31.5 29.85 31.275 30.375 30.825 30.825C30.375 31.275 29.85 31.5 29.25 31.5H6.75ZM6.75 29.25H29.25V6.75H6.75V29.25Z"
                    fill="#606060" />
                </svg>
              </span>
            </div>
          </div>
          {{attendedMeetingsCount}}
        </div>
      </div>
      <div class="card" style="width: 300px;margin-left: 20px;">
        <div class="card-body">
          <p>Total ActionItem
            <span id="totalMeetingsIcon" style="padding-left: 20px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                <path
                  d="M9.375 25.5375H17.625V23.2875H9.375V25.5375ZM13.875 19.125H22.125V16.875H13.875V19.125ZM18.375 12.7125H26.625V10.4625H18.375V12.7125ZM6.75 31.5C6.15 31.5 5.625 31.275 5.175 30.825C4.725 30.375 4.5 29.85 4.5 29.25V6.75C4.5 6.15 4.725 5.625 5.175 5.175C5.625 4.725 6.15 4.5 6.75 4.5H29.25C29.85 4.5 30.375 4.725 30.825 5.175C31.275 5.625 31.5 6.15 31.5 6.75V29.25C31.5 29.85 31.275 30.375 30.825 30.825C30.375 31.275 29.85 31.5 29.25 31.5H6.75ZM6.75 29.25H29.25V6.75H6.75V29.25Z"
                  fill="#606060" />
              </svg>
            </span>
          </p>
          {{actionItemsCount}}
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row" style="margin-top: 20px;">
      <div class="card" style="width: 300px;margin-left: 20px;">
        <div class="card-body">
          <p>Total Tasks Organized
            <span id="totalMeetingsIcon" style="padding-left: 20px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                <path
                  d="M9.375 25.5375H17.625V23.2875H9.375V25.5375ZM13.875 19.125H22.125V16.875H13.875V19.125ZM18.375 12.7125H26.625V10.4625H18.375V12.7125ZM6.75 31.5C6.15 31.5 5.625 31.275 5.175 30.825C4.725 30.375 4.5 29.85 4.5 29.25V6.75C4.5 6.15 4.725 5.625 5.175 5.175C5.625 4.725 6.15 4.5 6.75 4.5H29.25C29.85 4.5 30.375 4.725 30.825 5.175C31.275 5.625 31.5 6.15 31.5 6.75V29.25C31.5 29.85 31.275 30.375 30.825 30.825C30.375 31.275 29.85 31.5 29.25 31.5H6.75ZM6.75 29.25H29.25V6.75H6.75V29.25Z"
                  fill="#606060" />
              </svg>
            </span>
          </p>
          {{organizedTasksCount}}
        </div>
      </div>
      <div class="card" style="width: 300px;margin-left: 20px;">
        <div class="card-body">
          <p>Total Tasks Assigned
            <span id="totalMeetingsIcon" style="padding-left: 20px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                <path
                  d="M9.375 25.5375H17.625V23.2875H9.375V25.5375ZM13.875 19.125H22.125V16.875H13.875V19.125ZM18.375 12.7125H26.625V10.4625H18.375V12.7125ZM6.75 31.5C6.15 31.5 5.625 31.275 5.175 30.825C4.725 30.375 4.5 29.85 4.5 29.25V6.75C4.5 6.15 4.725 5.625 5.175 5.175C5.625 4.725 6.15 4.5 6.75 4.5H29.25C29.85 4.5 30.375 4.725 30.825 5.175C31.275 5.625 31.5 6.15 31.5 6.75V29.25C31.5 29.85 31.275 30.375 30.825 30.825C30.375 31.275 29.85 31.5 29.25 31.5H6.75ZM6.75 29.25H29.25V6.75H6.75V29.25Z"
                  fill="#606060" />
              </svg>
            </span>
          </p>
          {{assignedTasksCount}}
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">

    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div id="divChart">
          <b>Tasks</b>
          <ng-select [(ngModel)]="selectedOption"  (change)="onSelectChange()" style="float: right; width: 180px;">
            <ng-option  value="Week">Week</ng-option>
            <ng-option value="months">Months</ng-option>
            
          </ng-select>
            <canvas id="myChart"></canvas>
            
        </div>
      
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div id="divChart" >
          <b>Meetings</b>
          <ng-select [(ngModel)]="selectedOption"  (change)="onSelectChange()" style="float: right; width: 180px;">
            <ng-option value="Week">Week</ng-option>
            <ng-option value="months">Months</ng-option>
          </ng-select>
            <canvas id="myChart2"></canvas>
            
        </div>
      
        </div>
      </div>
    </div>
  </div>

  </body>
<!-- <div class="navbar">
          <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
          <button (click)="checkDemo()">DEMO</button>
      </div> -->