#message{
    font-size: 12px;
    text-align: start;
    padding-left: 5px;
    padding-top: 10px;
}

#statusUnread{
    font-size: 10px;
    padding-top: 48px;
    color: black;
}


#statusRead{
    font-size: 10px;
    padding-top: 48px;
    color: lightgray;
}

#notification-card{
    cursor: pointer;
}

#notificationCard:hover{
    background-color: aliceblue;
}

#userImage{
    padding-top: 14px;
}

#dateTimeAgo{
    font-size: 8px;
    text-align: start;
    padding-left: 80px;
    padding-top: 10px;
}