<app-side-menubar></app-side-menubar>
<div>
    <app-header [title]="title" id="header"></app-header>
</div>
<div class="container-fluid">
    <div class="card-header">
        <div class="row">
            <div id="generalDiv" class="col-sm-2">
                <h4><b>General</b></h4>
                <a routerLink="/organization">Company Details</a><br />
                <a routerLink="/batch-report">BatchProcess Report</a><br/>
                <!-- <a>Domain</a><br />
                <a>Rebranding</a><br />
                <a>From Address</a><br /> -->
            </div>
            <div class="col-sm-2">
                <h4><b>Organization</b></h4>
                <a routerLink="/users">Users</a><br />
                <a routerLink="/employee">Employee Profiles</a><br />
                <a routerLink="/departments">Departments</a><br />
                <a routerLink="/designations">Designation</a><br />
                <a routerLink="/task-category">Task Category</a><br />
                <!-- <a>Locations</a><br/>
                <a>Groups</a><br/>
                <a>Delegations</a><br/> -->
            </div>
            <div class="col-sm-3">
                <h4><b>User Access Control</b></h4>
                <a routerLink="/roles">Roles</a><br />
                <a routerLink="/permission">Permissions</a><br />
                <a>Allowed IPs</a><br />
                <!-- <a>Geo Restriction</a><br /> -->
            </div>
            <div class="col-sm-3">
                <h4><b>Customization</b></h4>
                <!-- <a>Services</a><br />
                <a>Forms</a><br />
                <a>Dashboard Widgets</a><br />
                <a>Custom Action</a><br />
                <a>templates</a><br /> -->
                <a>Themes</a><br/>
                <a>Email Templates</a>
            </div>
        </div>
        <br /><br/>
        
        <div class="row">
            <!-- <div id="automationDiv" class="col-sm-2">
                <h4><b>Automation</b></h4>
                <a>Workflow</a><br/>
                <a>Actions</a><br/>
                <a>Approvals</a><br/>
                <a>From Addresses</a><br/>
            </div> -->
            <!-- <div class="col-sm-2">
                <h4><b>Marketplace</b></h4>
                <a>UMS</a><br/>
                <a>Others</a><br/>
            </div> -->
            <div id="automationDiv" class="col-sm-3">
                <h4><b>Data Administration</b></h4>
                <a>Import History</a><br/>
                <a>Export History</a><br/>
                <a>Activity Log</a>
            </div>
           <!--- <div class="col-sm-3">
                <h4><b>Developer Space</b></h4>
                <a>Web Forms</a><br/>
                <a>UMS API</a><br/>
                <a>Connections</a><br/>
            </div>-->
        </div>
    </div>
    <div class="card-body"></div>
    <div class="card-footer"></div>
</div>
<!-- <div class="rectangle-div">
          <div class="col-sm-3"><h4><b>Automation</b></h3></div>
        <div>
            <a routerLink="/my-profile">
                <p>My profile</p>
            </a>
        </div>
        <div>
            <a routerLink="/batch-details">
                <p>Batch Details</p>
            </a>
        </div>
        <div>
            <a routerLink="/organization">
                <p>Organization</p>
            </a>
        </div>
        <div>
             <a routerLink="/employee">
                <p>Employee</p>
             </a>
        </div>
        <div>
            <a routerLink="/users">
                <p>Users</p>
            </a>
        </div>
        <div>
            <a routerLink="/departments">
                <p>Departments</p>
            </a>
        </div>
        <div>
            <a routerLink="/designations">
                <p>Designations</p>
            </a>
        </div>
        <div>
            <a routerLink="/role">
                <p>Roles</p>
            </a>
        </div>
</div> -->